[2014-03-25 01:10] Epp-code opened #2 "Expand incorrectly handles nested expressions with anonymous type parameters"
Here's a test that reproduces the issue:

[code]

With unmodified LinqKit code, this test throws the following exception during the Compile call, indicating that Expand returned an invalid Expression:

[code]

While researching this issue, I came across this StackOverflow posting:

http://stackoverflow.com/questions/13501437/linq-entities-build-query-at-runtime-the-parameter-is-not-in-scope-linqki

[2014-05-13 10:57] BenJenkinson opened #3 "ExpressionExpander.VisitMethodCall(..) throws Exception: Cannot cast MethodCallExpressionN to LambdaExpression"
I'm basically trying to dynamically construct an expression similar to the one below, where I can use the same comparison function, but where the values being compared can be passed in, since the value is passed from a property 'higher-up' in the query.

[code]

I believe I've constructed the query correctly, but the `ExpressionExpander.VisitMethodCall(..)` method throws the following exception wh

[2014-05-15 10:40] #3 closed, assigned to nobody

[2014-06-05 19:51] felipepessoto opened #4 "How to accept arguments inside predicate?"
Before anything, a little context.

I am used to create filters as extension methods, so I can reuse them.
But when I want to apply filter on Navigation Property, it doesn´t works, then LINQKit comes:

My Old Code:

[code]

So I can do this:

[code]

But I can´t:

[code]

Using LinqKit, I can do this:

[code]

But how to pass my argument MyStatus to predicate?

I am doing this, but its not ideal:

[2014-06-06 13:05] felipepessoto opened #5 "Why own implementation of ExpressionVisitor?"
.NET 4.0 made ExpressionVisitor public, is there any reason to not use it?

[2014-06-06 14:00] #4 closed, assigned to nobody

[2014-06-06 19:14] #5 closed, assigned to nobody

[2014-06-06 19:14] #2 closed, assigned to nobody

[2014-10-08 09:07] lvanderbijl opened #7 "queries that use AsExpandable and .ToListAsync() do NOT run asynchronously"
I'm running a number of queries that take advantage of .invoke to re-use where clauses as well as select projections.

However, I've found that the ExpandableDBAsyncEnumerator doesn't actually run the queries asynchronously. It forces the expression to be run synchronously.

This is a pretty major issue for me. Has anyone else come across this? Does anyone have a suitable fix?

ie.

public async T

[2014-11-01 13:42] Serenyrddraig opened #8 "Refactor to segregate EntityFramework dependencies"
I have found this project extremely useful. However, I was unable to use the nuget package because of the way that the dependencies are packaged.

I'm integrating into an SOA product with very strict rules, in particular data access dependencies may not occur in a business service, only in a data service. To solve this issue, I cloned your repository and divided it into two assemblies LinqKit and

[2014-12-23 19:53] Thorium opened #9 "Too much parenthesis leads to stack overflow."
This is a known issue:
If your expression has too much parenthesis (over 500 but under 1000) then LINQKit will fail as StackOverflowException.

For example, if your expression is like this:
condition || (condition || (condition || (condition || (...
each of the parenthesis will generate a recursive call.

Easiest way to reproduce this is to have 1000 conditions in the list and then just the follow

[2014-12-28 19:05] #9 closed, assigned to nobody

[2015-01-09 17:37] Thorium commented on #7
Beware that there is EntityFramwork limitation:
http://stackoverflow.com/questions/24702183/does-entity-framework-support-parallel-async-queries

        [Fact]
        public async Task ExpressionAsyncTest()
        {
            Expression<Func<int, bool>> condition = a => a % 2 == 0;

            var expanded = condition.Expand();

            var dbset = new[] {1, 2, 3, 4}.AsQueryable(); // fr

[2015-01-17 07:43] msanaei opened #12 "using AsExpandable() cause AsNoTracking doesn't work."
I'm using EF code first, I worked with detached entities and for updating my entities I used GraphDiff (that works with detached entities), so when I want to load my entities I use `AsNoTraking()`:

     _uow.Repository<WorkCenterCapacity>()
                    .FindAllQueryable()
                    .Where(/*some criteria*/)
                    .GroupBy(x => x.WorkCenter.Code)

[2015-01-18 11:33] axelheer commented on #7
Running queries in parallel may not be supported, but running a single query async still has a lot of benefits since the current thread becomes free in the meantime; thus, he's available for your application or your host (web server, ui thread, ...).

The problem with the current implementation is, that the async enumerator / provider of *Entity Framework* isn't called, a synchronous `Task.FromRes

[2015-01-18 16:36] lvanderbijl commented on #7
Thanks for the responses.

@vinneyk Yeah, you're right I wrote the code down incorrectly - it should have read FirstOrDefaultAsync.

@Thorium You're right, I can't make 2 calls to the same dbset at the same time - I realised that after I lodged this issue. I ended up solving that by using multiple contexts.

However, as @axelheer notes, there's still an issue actually running the code (even a sing

[2015-01-18 19:09] axelheer commented on #12
Try to call `AsNoTracking` first, then `AsExpandable`. If i remember correctly, `AsNoTracking` casts the current query to some *Entity Framework* internal class, which cannot work since it's wrapped by `AsExpandable`...

[2015-01-20 12:58] Thorium commented on #7
I tested the code, seemed to work fine. Thanks!
I updated my open pull-request to contain also merge for this.

[2015-01-20 15:27] scottksmith95 commented on #8
Closing as no response

[2015-01-20 15:27] #8 closed

[2015-01-20 15:27] scottksmith95 commented on #7
Thanks for all the work. I merged in the changes for this issue.

[2015-01-20 15:27] #7 closed

[2015-01-20 17:42] Thorium commented on #12
Or you can call ``Configuration.AutoDetectChangesEnabled = false;`` in your context constructor, so that tracking is always off.

[2015-01-21 19:28] msanaei commented on #12
@axelheer :+1: Thank you, I checked it, the problem solved.

[2015-01-21 19:51] #12 closed

[2015-02-02 21:54] abatishchev opened #13 "Unable to cast object of type 'System.Linq.Expressions.InstanceMethodCallExpressionN' to type 'System.Linq.Expressions.LambdaExpression'"
I have a service performing some aggregation which I want make plugable::
[code]
And here's the query I want to plug this service in:

[code]

So I used LinqKit:

[code]

But it throws an exception:

[code]
Is is fixable on my side, or requires investigation on your side? Thanks!

[2015-02-04 15:50] Maximaximum commented on #13
I've got the same problem! What is the cause for it? Any help appreciated

[2015-02-12 19:47] abatishchev commented on #13
Any thoughts on this, please? No queries containing grouping work.

[2015-02-12 19:48] scottksmith95 commented on #13
I am not sure on this particular issue. I didn't write the original code but am officially maintaining it on GitHub. If you could troubleshoot more and potentially provide a fix, I will gladly merge the change.

[2015-02-18 19:08] artelk opened #14 "Include(...) after AsExpandable()"
I suppose it would be great to support this.
I believe the following lines should be added to ExpandableQuery<T> class:

public IQueryable[T] Include(string path)
{
  return InnerQuery.Include(path).AsExpandable();
}

[2015-03-02 15:47] devlux opened #15 "Nuget issue on OS with case-sensitive filesystem"
I've installed the nuget package with monodevelop on linux. But afterwards I was not able to use it as the system was not able to find the package. It seems this is due to the case-sensitive nature of the filesystem and that there is some "mismatch" between certain package id references: at some places "Linq" is used and at others "LINQ". After I renamed all "LINQ" snippets (in filenames and file

[2015-03-03 20:49] scottksmith95 commented on #15
Feel free to submit a pull request. I will gladly accept it.

Thanks

[2015-03-30 08:48] Thorium opened #16 "Nuget-version is not up-to-date"
Hello,

The Nuget package is over year old. Could it be updated to match this current version?

[2015-03-31 02:31] scottksmith95 commented on #16
Sure thing. I will attempt to update it tomorrow.

[2015-03-31 21:52] scottksmith95 commented on #16
The package has been updated. Would you be interested in joining this project as a contributor and help maintain the nuget package?

[2015-04-01 04:51] Thorium commented on #16
Thanks!

Yes I could join.

[2015-04-01 14:50] scottksmith95 commented on #16
I added you as a collaborator here. What is your username on NuGet?

[2015-04-01 21:50] Thorium commented on #16
Same as here: Thorium

[2015-04-01 21:51] scottksmith95 commented on #16
You have been added.

[2015-04-01 21:51] #16 closed

[2015-04-08 09:45] jukkamaljanen opened #17 "Xml docs for IntelliSense"
Totally missing them... Shouldn't be a big thing to add?

[2015-04-08 15:45] scottksmith95 commented on #17
I will gladly accept a pull request if you want to take this task on.

[2015-04-09 10:09] jukkamaljanen commented on #17
I was hoping you could add some summaries since you are the author. I'm not as good in describing LinqKit as you are.

[2015-04-09 15:07] scottksmith95 commented on #17
I am not the author. I found this code from some samples from a book. I talked to the authors about maintaining it on GitHub and they agreed.

[2015-04-14 18:34] Thorium commented on #13
Hello,

You use Compile if you want to compile your expression to C#. But you use .AsExpandable() and .Invoke() if you want to compile your expression to SQL via LINQKit. Like this:

        using System;
        using System.Collections.Generic;
        using System.ComponentModel.DataAnnotations;
        using System.Data.Entity;
        using System.Linq;
        using System.Linq.Expressions;

[2015-04-14 19:01] Thorium commented on #14
The lambda version of the Include should also be supported. It is better way to avoid typos.

I'm not very big fan of Include()-syntax as it can easily hide some complex joins.

[2015-04-14 19:49] artelk commented on #14
I have checked EF sources. The expression based Include calls the string based version. I belive the method above should be enough to make it work.

[2015-04-14 20:14] Thorium commented on #14
Include would need "where T : class" constraint to ExpandableQuery. What if your query returns e.g. Guids?

[2015-04-14 20:25] Thorium commented on #14
Ok I added ExpandableQueryIncludeExtension, that should be enough.
Sorry about the line-endings.

[2015-04-14 20:55] artelk commented on #14
Sorry, I meant it should be added to ExpandableQuery. EF uses reflection searching for such method. It is better to  test  that before. I will try that and make a pull request...

[2015-05-21 22:14] xuto2 opened #21 "AsExpandable() causes "new transaction is not allowed because there are other threads running in the session..""
Before using LINQKit, our program runs okay. After using it, I see the exception "new transaction is not allowed because there are other threads running in the session..", It looks like that AsExpandable() somehow interferes the EntityFramework's transaction management and cause EF not closing the previous transaction before starting a new one.

Note that I'm mixing the use of DbSet.AsExpandable()

[2015-05-22 08:39] xuto2 commented on #21
Turns out that I was using IQueryable and I was trying to create new transaction while iterating through the IQueryable, during which a connection is kept by EF and that will cause the error.

[2015-05-22 08:39] #21 closed

[2015-05-28 13:41] matkoerner opened #22 "Predicate.Invoke(Predicate.Invoke(..)) does not work"
ExpressionExpander.VisitMethodCall; "Invoke"-Resolver (lines 65-85) is not resolving the case that one of the direct arguments in Invoke(..) is a call to another .Invoke.

Example:

    System.Linq.Expressions.Expression<Func<string, string[], IEnumerable<string>>> PredicateFoo =
        (par1, par2) => par1.Split(par2, StringSplitOptions.None); // Just some stuff

    System.Linq.Expressions.Expr

[2015-05-28 16:48] abatishchev commented on #13
Can you please reopen? I forgot about this ticket. I'll investigate and post an update

[2015-05-28 16:48] scottksmith95 commented on #13
Sure thing

[2015-06-14 01:52] siroky opened #23 "Unbounded variable in expanded predicate"
Hi, I've come across one bug in the predicate expansion. Here's sample code that demonstrates it:

[code]

The problem is, that the expanded predicate contains unbounded variable `x` instead of `y`. I use the `Compile` function just to check whether the predicate is actually built correctly. If you use same name for parameters of `fooPredicate` and `inception`, it's really difficult to find out wh

[2015-09-16 12:57] antidemon opened #26 "Unnecessary include of entity framework in nuget package"
As far as I can see from the source download from http://www.albahari.com/nutshell/LinqKitSource.zip there is no need for the nuget package to include entity framework apart from for the demo project. Can we remove this dependency from the nuget package please.

[2015-09-20 07:47] satyajit-behera commented on #14
@Thorium How to use the ExpandableQueryIncludeExtension method. with EF.

[2015-09-20 08:45] Thorium commented on #14
I usually use just pure join and not so much includes. :-)

[2015-09-20 08:49] satyajit-behera commented on #14
@Thorium Thanks.

[2015-09-21 14:08] Jaben commented on #14
@Thorium Any chance of this getting merged? I could use this feature.

[2015-09-22 09:46] hbulens commented on #14
When can we expect this to be released into a new Nuget package? I'm currently experiencing this issue.

[2015-09-22 16:15] Thorium commented on #14
Ping @scottksmith95 would you like to do the NuGet-package? There are PRs, what is your opinion about these? Although I'm not a big fan of those, I could accept...

[2015-09-28 14:40] scottksmith95 commented on #14
@Thorium You are pretty much maintaining this more than me. My time is so limited now, I cannot spend much on it. If you are ok with the PRs, feel free to pull them in. You should also be able to release a new NuGet package. I am pretty sure I made you an admin/owner.

[2015-09-29 13:21] #22 closed

[2015-09-29 13:45] Thorium commented on #14
Merged.

[2015-09-29 15:52] Thorium commented on #26
Source code on www.albahari.com is quite old. Since then we had to support async queries. And for that we need the interfaces from EF:
IDbAsyncEnumerator<T> and IDbAsyncEnumerable<T>

So after this commit there has been this dependency:
https://github.com/scottksmith95/LINQKit/commit/890bccc370f13578588c8b5b2fb4c3a83bab1294

The old .NET 3.5 version actually wouldn't need EF, so this could be remo

[2015-09-30 19:58] #23 closed

[2015-10-02 23:24] Thorium commented on #17
Added XML-comments to package.
05420063b2691c573b46dcd30ca18501296bfa8a
If you have better descriptions, just create PR. :-)

[2015-10-02 23:24] #17 closed

[2015-10-02 23:25] Thorium commented on #15
This fix is in the NuGet package of the LinqKit 1.1.3

[2015-10-02 23:25] #15 closed

[2015-10-02 23:26] Thorium commented on #26
Now you can get also the 3.5 version from the NuGet package, from version LinqKit 1.1.3

[2015-10-02 23:26] #26 closed

[2015-10-03 12:25] Thorium commented on #13
@abatishchev, Is this still valid?

[2015-10-04 03:30] abatishchev commented on #13
Sorry about this, changed the job, stopped using EF, really don't have time to take a look on this.

[2015-10-04 03:30] #13 closed

[2016-01-12 10:14] ASADeveloper opened #28 "Does not support dnxcore50"
LinqKit doesnot support dnxcore50. Is there any workaround for it without using entity framework 6 ?

[2016-01-12 13:22] Thorium commented on #28
Can you try using the .Net 3.5 version which doesn't have the dependency to EF?

----- Alkuperäinen viesti -----
Lähettäjä: "ASADeveloper" <notifications@github.com>
Lähetetty: ‎12.‎1.‎2016 10:15
Vastaanottaja: "scottksmith95/LINQKit" <LINQKit@noreply.github.com>
Aihe: [LINQKit] Does not support dnxcore50 (#28)

LinqKit doesnot support dnxcore50 Is there any workaround for it without using entity

[2016-02-09 13:36] Emyr42 commented on #28
The manifest needs to list appropriate target frameworks.
e.g
"dotnet5.0" for class libraries,
"dnxcore50" for applications,

If the manifest doesn't list any targets, this error occurs:

(used this code file to crossreference the manifest schema URIs to manifest versions: https://github.com/NuGet/NuGet2/blob/2.8.7/src/Core/Authoring/ManifestSchemaUtility.cs)

LinqKit 1.0.0 is the .Net 3.5 version

[2016-03-27 15:34] Thorium commented on #28
Emyr42, thanks for the instructions! If this is something that could be updated to the source repo, could you do also a PR?

[2016-04-08 01:10] rhyous opened #30 "True False methods not intuitive"
Scott. Nice library. Saved me a ton of time. Even if you didn't start it, thanks for bringing it to GitHub.

I just started using this library. I solved my problem.

I am going to enter a 'usability' issue if you don't mind. There is no bug.

The issue is with the PredicateBuilder.True<T> and PredicateBuilder.False<T>. Those aren't very intuitive. And they are identical except for the return value

[2016-05-03 06:32] jjherscheid opened #31 "Missing Not() method in Predicate Builder"
Great project, but missing the Not() option in the Predicate Builder:

`public static Expression<Func<T, bool>> Not<T>(this Expression<Func<T, bool>> expression)
 {
            return Expression.Lambda<Func<T, bool>>(Expression.Not(expression.Body), expression.Parameters);
}
`

This can be used for negating the expression for example:

`
inner = inner.Or (p => p.Description.Contains ("foo")).Not()

[2016-05-03 09:38] Thorium commented on #31
Why do you want to make your own not-operator?
There is already Not-operator in expressions, it's just not extension-method: https://msdn.microsoft.com/en-us/library/bb299047(v=vs.110).aspx

I would need a little more code to not-be-a-pseudo, but I think you could do:

`
inner = inner.Or (Expression.Not(p => p.Description.Contains ("foo")));
`
or

`
inner = inner.Or (p => !p.Description.Contains (

[2016-05-03 09:44] jjherscheid commented on #31
It was just for adding more fluent code to the current api provided by LinqKit. ;-)

[2016-05-03 15:34] Thorium commented on #31
I think that all the System.Linq.Expressions, at least unary-expressions (ArrayLength, Convert, ConvertChecked, Negate, NegateChecked, Not, Quote, TypeAs, UnaryPlus) could be extension methods, how ever this shouldn't be LinqKit's improvement but .NET Framework Class Library.

You can make a PR if you feel that these would be very helpful, but LinqKit is not the only tool using expression-traversa

[2016-05-04 05:58] jjherscheid commented on #31
Hi,
I think you are correct, that this should be included in the .Net Framework Class Library. So I will close this issue for now. Thanks for the comments ;-).

[2016-05-04 05:58] #31 closed

[2016-05-25 23:35] xplatsolutions opened #32 "Is it possible to support PCL and will it work with AsyncTableQuery<T> for SQLite queries?"
I am using [SQLite.Net-PCL](https://github.com/oysteinkrog/SQLite.Net-PCL) and I have this [problem](http://stackoverflow.com/q/37447117/122769).

I see that versions 1.1.0 to 1.1.3.1 have Entity Framework dependency but 1.0.0 has not. Is it possible to use version 1.0.0 for [using-expression-variables-in-subqueries](https://github.com/scottksmith95/LINQKit#using-expression-variables-in-subqueries

[2016-06-17 20:04] StefH commented on #28
A version which supports EntityFramework can be found here:
https://www.nuget.org/packages/EntityFramework.LinqKit

A version which supports Microsoft.EntityFrameworkCore can be found here:
https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.LinqKit

Can you please take a look and reply back here or to my fork ?

[2016-06-20 09:04] Thorium commented on #28
StefH I can grant you admin rights to Nuget if you want to make a single package with multiple target frameworks like most of the Nuget packages are, insted of a package per architecture...

[2016-06-20 10:53] StefH commented on #28
Hello @Thorium ; if you can add me owner permissions to NuGet and this project, that would be great, then I can fix the AppVeyor build + (maybe check the demo + unit-tests) + upload the new NuGet package.

[2016-06-20 11:13] Thorium commented on #28
Hello! You are now also admin of the NuGet package. I can approve pull requests but it needs @scottksmith95 to add you to admins of the GitHub project.

My focus is currently on another data access technology (https://github.com/fsprojects/SQLProvider) so I don't have time to help much on LinqKit coding but I can answer to technical questions if any...

I think the majority of users of LinqKit are

[2016-06-20 17:23] StefH commented on #32
Would **.NETPortable,Version=v4.5,Profile=Profile259** or **.NETPortable,Version=v4.0,Profile=Profile328** be enough for you ? (Same as NewtonSoft.Json)

More details about portable can be found here:
http://embed.plnkr.co/03ck2dCtnJogBKHJ9EjY

[2016-06-20 18:05] StefH commented on #28
@scottksmith95 can you please add me as admin from this GitHub project ?

[2016-06-20 20:20] StefH commented on #30
Would the name "StartPredicateWith" be a better name instead of "AppendPredicateWith" ? Because this statement is the first statement you do, and you define what you want: an AND or an OR.

[2016-06-20 22:16] Thorium commented on #30
I vote for keeping existing functionality and not adding anything if you really don't need it. :-)

[2016-06-20 22:20] rhyous commented on #30
I am not too picky with the enum name. Try a few out in code, see what you like best. I think it is more important to have one method, not two, and to have the code read and/or instead of true/false.

AppendPredicateWith.And
AppendPredicateWith.Or

StartsPredicateWith.And
StartsPredicateWith.Or

PredicateOperator.And
PredicateOperator.Or

Oper.Or
Oper.And

[2016-06-20 22:22] rhyous commented on #30
@Thorium
I think the functionality is there, but the usability and code readability does "really need it."

[2016-06-25 23:12] PivotalAnimal opened #34 ".NET Core?"
Are there any plans to port this to .NET Core?

[2016-06-26 01:11] scottksmith95 commented on #28
@StefH Done

[2016-06-26 01:12] scottksmith95 commented on #34
@Thorium or @StefH Can comment on that. I don't have the bandwidth anymore to continue development.

[2016-06-26 07:50] StefH commented on #28
@scottksmith95 Thanks.

closing this issue:
See also:
https://github.com/scottksmith95/LINQKit/issues/32
https://github.com/scottksmith95/LINQKit/pull/33

[2016-06-26 07:50] #28 closed

[2016-06-26 08:38] StefH commented on #34
Hi @PivotalAnimal, support for .Net Core has been added to this repository. I'll upload the new NuGet packages in a while.

[2016-06-26 21:50] StefH commented on #34
Maybe I'll till dotnet rtm is released...

[2016-06-27 15:33] StefH commented on #34
New versions uploaded to NuGet:

- https://www.nuget.org/packages/LinqKit/1.1.4
- https://www.nuget.org/packages/LinqKit.Microsoft.EntityFrameworkCore/1.0.1
- https://www.nuget.org/packages/LinqKit.EntityFramework/1.0.1

Please test.

[2016-06-27 15:34] StefH commented on #32
Please check this new version uploaded to NuGet https://www.nuget.org/packages/LinqKit/1.1.4

[2016-06-27 15:37] StefH commented on #30
New versions uploaded to NuGet:

- https://www.nuget.org/packages/LinqKit/1.1.4
- https://www.nuget.org/packages/LinqKit.Microsoft.EntityFrameworkCore/1.0.1
- https://www.nuget.org/packages/LinqKit.EntityFramework/1.0.1

The extension methods have been added:
[code]
Please test and close issue if it's fine.

[2016-06-28 06:21] StefH opened #35 "Update project to the .NET Core RTM"
A new .NET Core RTM was released yesterday. Upgrade this project to use the latests.

[2016-06-28 14:08] TyBarthel opened #36 "System.Interactive.Async load failure"
It appears that the LinqKit.Microsoft.EntityFrameworkCore is attempting to load the System.Interactive.Async assembly of version 1.2 from the GAC.  I'm getting a load failure as I have version 3.0 installed in my project as a NuGet package.

Should the LinqKit.Microsoft.EntityFrameworkCore have the System.Interactive.Async as a package dependency instead of referencing the GAC?

=== Pre-bind state

[2016-06-28 14:32] richardbartley opened #37 "Nuget package Upgrade 1.1.3.1 to 1.1.4 failed to add reference"
Failed to add reference. The package 'LinqKit' tried to add a framework reference to 'System.Runtime' which was not found in the GAC. This is possibly a bug in the package. Please contact the package owners for assistance.

[2016-06-28 15:42] Thorium commented on #37
This is probably due to modifications to solution model and package generation.
Ping @StefH

[2016-06-28 18:30] StefH commented on #37
For which framework do you use LinqKit ?

[2016-06-28 18:44] richardbartley commented on #37
.Net 4.5.1

[2016-06-28 19:40] StefH commented on #37
Issue should be fixed, please checkout latest NuGet,

[2016-06-28 19:40] StefH commented on #35
Solved

[2016-06-28 19:40] #35 closed

[2016-06-28 19:41] StefH commented on #36
Can you retry with latest NuGet ?

[2016-06-28 19:49] richardbartley commented on #37
Thanks, will check out first thing tomorrow morning when back in office.

Great library, thanks
Richard.

[2016-06-28 20:55] TyBarthel commented on #36
@StefH Looking good!  I think it's working fine now.  Thank you for the quick response!

[2016-06-28 21:09] orlandow commented on #37
I still have the issue with version `v1.1.5`

I'm using .net 4.5.2

[2016-06-28 22:48] StefH commented on #37
please retry with https://www.nuget.org/packages/LinqKit/1.1.6

[2016-06-29 00:13] orlandow commented on #37
It works now! thanks :+1:

[2016-06-29 07:34] richardbartley commented on #37
Working for .Net 4.5.1 thanks.

[2016-06-29 07:34] #37 closed

[2016-06-29 09:22] #36 closed

[2016-06-29 13:06] springy76 opened #38 "NuGet binaries not strong named any more"
I also miss any kind of a changelog which would mention this and in general what changed between 1.1.3 and 1.1.6.

[2016-06-29 14:00] StefH commented on #38
**Strong named** : I don't know how to do that in the new project.json / .Net Core 1.0 RTM, please advice

**Changelog**:

- 1.1.4 Update to dotnet rc2 and removed dependency on EntityFramework
- 1.1.5 .Net Core 1.0 RTM + Changed dependency from JetBrains.Annotations to fix issues with System.Runtime
- 1.1.6 Removed portable target to fix issues with .Net Core 1.0 RTM when using this project

[2016-06-29 14:55] Thorium commented on #38
The key-file is provided `LINQKit\src\LinqKit.Net45\LinqKit.snk` and it was bound by `*.csproj`-file, but you can probably use also the `Properties\AssemblyInfo.cs` file adding the `AssemblyKeyFileAttribute`

[2016-06-29 15:19] springy76 commented on #38
Personally I'll keep away from .Net Core 1.0 for at least 1-2 years -- Microsoft may call it RTM, I call it public beta test.

AssemblyKeyFileAttribute creates a compiler warning CS1699 since VS2005 -- I wonder why Microsoft added these to UWP at all.

[2016-06-29 18:11] StefH commented on #38
I used the original key-file. New NuGet has been created.

ReleaseNotes: https://github.com/scottksmith95/LINQKit/blob/master/ReleaseNotes.txt

Please verify

[2016-07-01 08:13] springy76 commented on #38
looks good

[2016-07-01 08:13] #38 closed

[2016-07-04 12:41] jenscski opened #39 "The source IQueryable doesn't implement IDbAsyncEnumerable"
After updating from 1.1.3.1 to 1.1.7, the following error appeared

The source IQueryable doesn't implement IDbAsyncEnumerable<T>. Only sources that implement IDbAsyncEnumerable can be used for Entity Framework asynchronous operations.

The NuGet is used in a class library targeting .Net Plaform 4.5.

What I think I have found out is that the ExpandableQuery does not implement IDbAsyncEnumerable<T

[2016-07-04 12:55] jenscski commented on #39
I found out what to do.

Install https://www.nuget.org/packages/LinqKit.EntityFramework/ instead.

For your information, the links in the README does not work (click on the images), that's why I thought I should be using the LinqKit, and not a EntityFramework specific version.

[2016-07-04 12:55] #39 closed

[2016-07-04 17:23] StefH commented on #39
Thanks.

I have updated the links in the readme

[2016-07-12 17:51] niemyjski commented on #37
We need to file a bug for this issue with nuget.. It will happen if you have a "frameworkAssemblies" section with non build time dependencies...

[2016-07-12 18:01] StefH commented on #37
Hi @niemyjski you here?

Note that this issue was 'fixed' by removing the portable 4.5 target from the project.json

I think that
* the nuget is build wrongly ?
Or
* nuget has problems selecting the correct version when there is a portable 4.5 and a real 4.5 ?

[2016-07-12 18:03] niemyjski commented on #37
Yeah, please comment on my issue. if you don't defined a real 4.5 package it will fallback to portable 4.5

[2016-07-12 18:54] Tolitech opened #40 "Sign the library (strong name) for use in projects signed"
Is there the possibility of the library to be **signed**?
If it is not **strongname**, I believe that the people who sign their libraries can not use it.
(like me)

[2016-07-13 07:32] StefH commented on #40
This issue applies to LinqKit.Microsoft.EntityFrameworkCore and Linqkit.EntityFramework.

The original Linqkit is signed.

[2016-07-14 10:49] Tolitech commented on #40
Yes that's right.
Before I used the LinqKit, though, I'm updating my version and libraries and am getting an error in using LinqKit PredicateBuilder and asynchronous methods.

"System.InvalidOperationException : The source IQueryable doesn't implement IDbAsyncEnumerable..."

So to solve the problem I googled and saw it would have to write myself changes in LinqKit.

I believe that if I upgrade to

[2016-07-14 19:35] StefH commented on #40
If you use .net 4.5.x or 4.6.x and EntityFramework 6.1.3 ; you can indeed use that NuGet package, however it's not signed yet. I'll take a look.

[2016-07-14 19:38] StefH commented on #34
Hello @PivotalAnimal, any success testing the latest NuGets ?

[2016-07-14 19:38] StefH commented on #30
@rhyous ; can you please test ?

[2016-07-14 20:01] StefH commented on #40
New NuGet is uploaded, please test.

[2016-07-14 22:51] rhyous commented on #30
I'll update my code tomorrow or Monday.

[2016-07-19 19:21] kuebelkasten opened #41 "Unable to restore packages"
Just cloned the repository into Visual Studio 2015, getting the following messages:

log  : Restoring packages for D:\Projects\LINQKit\src\LinqKit\project.json...
log  : Restoring packages for D:\Projects\LINQKit\tests\LinqKit.Microsoft.EntityFrameworkCore.Tests\project.json...
log  : Restoring packages for D:\Projects\LINQKit\tests\LinqKit.Tests\project.json...
log  : Retrying 'FindPackagesByIdAs

[2016-07-19 20:17] StefH commented on #41
It maybe looks like you have defined some nuget repository paths yourself in vs2015, can you check this?

[2016-07-19 21:14] kuebelkasten commented on #41
Indeed, there was a package source pointing to https://www.myget.org/F/Code52/api/v3 and I have no idea where this is from.
Remove it, cloned again and it is working now.

Thanks.

[2016-07-19 21:14] #41 closed

[2016-07-21 17:44] rhyous commented on #30
I have become much more familiar with LinqKit. I no longer think this code change is a good idea. Thorium was right, this code change was wrong.

However, a code change was definitely needed, it was just a different one. The flaw is completely different that what I understood.

When I wrote my first post, I was very clear that I didn't understand what this code was doing any my understanding was l

[2016-07-22 18:50] Tolitech commented on #40
Perfect.
It worked.
thank you so much.

currently my project uses the previous version, linqkit with asp.net mvc 5 and I am currently working for generation projects in asp.net core (.net framework) with entity framework and dapper.

if you have curiosity:
https://www.youtube.com/watch?v=PzGSslwyTxg
(subtitles)

thank you again.

[2016-07-22 18:50] #40 closed

[2016-07-26 15:36] kuebelkasten opened #43 "Unable to build the project"
Just tried to build/run the project fresh from the `.zip` file but It won't let me.

I have no idea what I am missing.
Installed Windows 10 SDK which took over one hour and I'm still stuck with the following errors shown by Visual Studio:

`NU1001	The dependency mscorlib could not be resolved.	project.json	160` and ongoing. It's all related to `sl5`.

It's my first project using `.xproj` so I'm pr

[2016-07-26 16:31] #43 closed

[2016-07-26 17:19] kuebelkasten opened #44 "Re-Use static Expressions as filter-rules by table"
Given the following data-structure I do have 4 tables.

* tblUser (holding the users of the application)
* tblRole (the available roles of the application)
* tblUserRole (the n-to-m relation between users and the roles they have)
* tblCategory (a user-related entity which they can create/edit)

A user can have different states, e.g. Blocked, Active and Inactive.

A tblRole-entity has therefore man

[2016-08-02 15:52] Mds92 opened #46 "Compile time error on Expand method in 1.1.7.1 version, Linq To Entities?"
I get compile time error in the following code:

[code]

but the following works:

[code]

[2016-08-03 09:10] Thorium commented on #46
By design C# language `var`-keyword is not as advanced as e.g. F# `let`-keyword in this sense that it can't identify `var` between `Func<...>` and `Expression<Func<...>>` so you have to explicitly specify the type.

So I would say this is not problem of LinqKit.

[2016-08-03 09:18] Thorium commented on #44
There is already function TryVisitExpressionFunc doing that. Doesn't it work?

[2016-08-03 12:26] kuebelkasten commented on #44
@Thorium I don't have the code here to check right now. I know about the function but it seems like it is never called at `ExpressionExpander.VisitMethodCall` line 63 and crashes at line 67 when casting.
So my best guess (without looking at the code or debugging) is, that `field` at line 118 is not null or `expression` at line 147.

Maybe there should be a check as in `TryVisitExpressionFunc` chec

[2016-08-03 12:55] Thorium commented on #44
I haven't myself used LinqKit in this year at all so I'm not familiar with the latest changes.
Back in then, it needed to say `var expanded = IsActive.Expand()` and then in where clause call `expanded.Invoke(user)`.

You could also do SelectMany (`from r in role.tblUserRole.AsExpandable() from u in dbContext.tblUser.AsExpandable()`) and then group by role? As what you probably want is to execute j

[2016-08-14 19:26] peterjuras opened #47 ".NET Native Compiler error"
Hi,

I'm trying to build a UWP in the release configuration with the .NET Native toolchain, but LINQKit appears to break it. The Compiler breaks as soon as LINQKit is referenced somewhere in the code. It throws the following error:

[code]

Sadly it doesn't provide any line number or file. The error happens for me when the .NET Toolchain is enabled on both x86 & x64, Targeting any version of Windo

[2016-08-16 09:48] Thorium commented on #47
Just to make clear: Is your problem that it doesn't report stacktrace on Release, or is your problem the empty set?

How about:
[code]

[2016-08-16 10:04] peterjuras commented on #47
I worded the issue poorly. The problem is that even code that is fine and runs without .NET Native enabled produces the compiler error when . NET Native is enabled.

That means that I can't use LINQKit if .NET Native is enabled.

[2016-08-16 20:14] StefH commented on #47
Related to ?
https://github.com/aspnet/PlatformAbstractions/issues/34
https://github.com/aspnet/EntityFramework/issues/5483

[2016-08-18 06:56] StefH commented on #47
I'm able to reproduce, however I don't have any clue or background on this.

[2016-08-29 23:30] Thorium opened #48 "Performance optimization"
Not all use LinqKit for SQL-generation, some just compiles lambdas on the way and then this is not a problem. But many are not compiling lambdas at all, but transferring to other domains, usually SQL.

So, now that it is also quite powerful to produce big lambdas and not hammer the database for each object one by one, some enterprise applications use LinqKit to produce heavy dynamic SQL. Entity Fr

[2016-08-30 06:47] StefH commented on #48
This sounds like a good idea and optimization.

Is there a special reason you choose F# ? If it's easy for you to convert it to C#, that would be my personal preference.
Also there should be more unit-tests.
Or
Keep the code in F#, but convert the project into a .NET Core project. I can help with that.
This is needed, else you cannot reference it from the current LinqKit.

About you options:
1. Ye

[2016-08-30 07:30] Thorium commented on #48
The reason is that F# is so much more powerful. The whole source code is actually very short, [under 300 lines](https://github.com/Thorium/Linq.Expression.Optimizer/blob/master/src/Linq.Expression.Optimizer/ExpressionOptimizer.fs), but meanwhile it's easy to write all C# concepts in F#, it is not definitely easy to write the same in C#. Pattern matching in some form will come to C# 7 but I bet not

[2016-08-30 07:33] Thorium commented on #48
Actually I think the whole LinqKit could be written in about 100 lines of F#.

[2016-08-30 11:49] Thorium commented on #48
.NET Core support added for the package...

[2016-08-30 12:15] StefH commented on #48
I just checked your updated net35 and .netcore project.

Note that the whole idea from .net core project.json is that you only need to define 1 project which includes different frameworks, that's the change I did for LinqKit project.

Also the nuget package can be automatically created which includes all the frameworks you define.
Tonight I'll take a look at you project and see if I can convert it

[2016-08-30 14:05] Thorium commented on #48
Thanks!
I'll kind of like the FAKE build script (build.fsx) support and I make the publish via paket.template, but it's not having total .NET Core support yet.

I have good news and bad news...
The good news is that actually extending LinqKit could be done easily with no external references need to LinqKit. Just adding some static class:
[code]
And then modifying `ExpandableQuery<T>` changing dire

[2016-08-30 14:18] StefH commented on #48
I lost you while reading the text above, please rephrase and explain.

(e.g. : _The good news is that actually extending LinqKit could be done easily with no external references need to LinqKit_ should be like The good news is that actually extending LinqKit could be done easily with no external references need to **Linq.Expression.Optimizer)** ???

[2016-08-30 17:19] Thorium commented on #48
I was thinking that LinqKit could be nice place to do some expression-tree-optimizations.
I was wrong. LinqKit doesn't gather/combine the expressions as final expression, it just modifies the existing ones.

The right level to optimize is the O/R-mapper.

[2016-08-30 20:23] Thorium commented on #48
Wow, better than I expected even!!!

[2016-08-31 08:46] Thorium commented on #48
@StefH can ypu please release a new version to NuGet?
I don't have all the required components to get all the projects compiling.
Which actually could be good do document, maybe split readme to smaller parts or something.

[2016-08-31 09:36] StefH commented on #48
I'll do.

[2016-08-31 09:44] Thorium commented on #48
1.1.7.2 is good.

[2016-08-31 09:49] Thorium commented on #48
I've heard all this "project.json is killed and dead" from internet, so I'm not sure if I want to migrate to that in new tools. But if it's working in LinqKit well, then...good let it be there.

[2016-08-31 09:57] StefH commented on #48
What I understood is that project.json will maybe be still used for the dependencies, but indeed the projects structure will move back to xproj format. However the new tooling from Visual Studio will do this upgrade automatically when the tooling is released.

[2016-08-31 10:13] Thorium commented on #48
Great, thanks! I think this can be closed?

[2016-08-31 10:16] Thorium commented on #48
How are these EntityFramework versions updated?
If I used 1.0.3 LinqKit, is it now the LinqKit.EntityFramework or LinqKit?

[2016-08-31 10:37] StefH commented on #48
Sorry, forgot these.

Both EF NuGets are now also uploaded.

[2016-08-31 11:42] #48 closed

[2016-09-01 03:37] atul221282 opened #49 "Running FirstOrDefaultAsync with AsExpandable gives the error"
Hi Guys I am running following code and gives an error

static Expression<Func<string, bool>> condition = a => a != null;

var expanded = condition.Expand();
            var quee = this.riskRepository.Query().AsExpandable().Where(x => expanded.Invoke(x.PurchaseNumber) && x.AMD_Seq_Num == seqNum).FirstOrDefaultAsync();

Whereas this works fine Note using non async method workds fine

var expanded =

[2016-09-01 05:17] StefH commented on #49
You need this nuget :
http://www.nuget.org/packages/LinqKit.EntityFramework/ if you use EF 6.x

[2016-09-01 07:07] Thorium commented on #49
The error could be to download the NuGet. Could we do that?

[2016-09-01 07:18] StefH commented on #49
@Thorium Sorry ?

[2016-09-01 07:25] Thorium commented on #49
By the nugget package download statics we can expect that only 10% of the users use these new versions where the async is broken. So this issue will be hit about 50 000 times by different users in the future. So we could improve the user experience of this non-ef-version by:

a) loading the EF reference by reflection if the dll is present in the current folder. Then it could work?
b) or at least i

[2016-09-01 18:37] StefH commented on #49
I see your point.

The problem is that there are two version from EF : the old one, and the .Net Core one. That's the reason I've created three separate projects.

a) I'm not sure if that's possible because you don't know if you are using EntityFramework or Microsoft.EntityFrameworkCore
b) I'm not sure if we can fix this / hook into that exception.
c) That one is indeed taken by someone else. We c

[2016-09-13 06:03] StefH commented on #49
I replied to @dopare to also add me as an owner to NuGet.

@Thorium What do you think the new projects should be named ?

[2016-09-13 09:25] Thorium commented on #49
I still don't know this is a problem or not, but I'd kind of like the non-ef-version to be named LinqKit.Core as many other .NET projects use this Core-name to be not-the-dotnet-core but the-basic-core-functionality library (castle.core, system.reactive.core, sqlite.core, ...).

[2016-09-14 05:31] StefH commented on #49
Proposals:

[code]

[2016-09-14 09:50] Thorium commented on #49
Sounds good. I would vote for unlisting LinqKit.EntityFramework from NuGet when this is done.

What is your opinion on EF6 future anyways? It seems that "EntityFramework" is the 6.1.3 and EF7 won't be "EntityFramework" but something else ("Microsoft.EntityFrameworkCore.SqlServer") and the Nuget id of "EntityFramework" will stay in that code base.

Maybe I would drop "Microsoft" from "LinqKit.Micro

[2016-09-16 09:45] phobos2077 commented on #14
This issue is still not fixed as of version 1.1.7.2.

[2016-09-23 17:52] amccorma commented on #9
Not sure if this is related, but it you have over 200 conditions, fails with an overflow error.

Example:  generate 200 IDs, get an overflow error when the statement is executed.

 foreach (var item in IDs)
                    {
                        predicate = predicate.Or(x => x == item);
                    }

[2016-09-26 22:27] MattWhilden commented on #47
Hello! I work on the .NET Native runtime and compiler team. A random walk of github issues finds me here. I'm able to reproduce this issue and will definitely investigate further.

In particular, this output from the compile step definitely looks like our issue:
"IlcInternals.targets(936,5): error : Internal compiler error: Sequence contains no elements"

Will try to follow up before the end of th

[2016-09-27 00:19] MattWhilden commented on #47
So the issue is that the compiler goes looking for the method "GetTypeInfo" on the type "System.Reflection.IntrospectionExtensions" Normally, this is fine because we find IntrospectionExtensions in the .NET framework libraries and happily move on. Unfortunately, LINQKit has an empty type that is also called System.Reflection.IntrospectionExtensions and we bail out when we cannot find a GetTypeInfo

[2016-09-27 06:07] StefH commented on #47
I'll take a look, thanks for the detailed information.

[2016-09-27 07:04] StefH commented on #47
This proposal indeed solves the compilation error.
However I get 2 warnings:

I don't know if these are serious?

[2016-09-27 07:14] StefH commented on #47
@peterjuras new NuGet packages are released, can you please test?

[2016-09-27 07:15] peterjuras commented on #47
I'm currently on vacation for the next two weeks, but I'll test it afterwards!

[2016-09-27 17:07] StefH commented on #47
@MattWhilden Can you please check if this issue is now solved?

[2016-09-27 18:21] MattWhilden commented on #47
Works now for me. The two warnings can be ignored and should go away if you update Microsoft.NETCore.UniversalWindowsPlatform to version 5.2.2.

Thanks for the quick work!

[2016-09-27 18:47] StefH commented on #47
@MattWhilden I did add the dependency to the `UWPExampleApp` project, but have still those warnings.

[2016-09-27 22:08] MattWhilden commented on #47
Hmmm. I'm on Update 3 of VS. New template. Update the UWP package to 5.2.2 then build. I don't see the warnings. I wonder what the difference in our setups is... Curious.

[2016-09-28 00:39] MattWhilden commented on #47
Can you post your project.json?

[2016-09-28 05:34] StefH commented on #47
project.json from the UWP is here : https://github.com/scottksmith95/LINQKit/blob/master/examples/UWPExampleApp/project.json

[2016-10-05 14:35] jblacker opened #50 "Using the Linq.Expression.Optimizer with LinqKit in an ASP.NET (MVC) Application"
My apologies in advance if this should be posted elsewhere because it's not an issue/enhancement, but I wanted to test out the optimization package mentioned in the Readme.md file by @Thorium, but wasn't exactly sure where the static initilization call needs to be made.

The readme states:

Can this call be made once within the application's lifecycle by calling it in the `Application_Start()` eve

[2016-10-05 16:06] Thorium commented on #50
There is a just released version 1.0.5 of Linq.Expression.Optimizer, I'll recommend to test that. :-)

I'm not ASP.NET guru, but application level, life of the app domain. So Application_Start() should do.

[2016-10-05 19:03] jblacker commented on #50
Yep, looks like you're right.  By keeping it in the Application_Start method the generated SQL queries look optimized compared to without it when I have them sent to my trace log viewer.  Thanks!

[2016-10-05 19:03] #50 closed

[2016-10-06 15:47] jblacker commented on #30
I hope I'm posting this in the right place, but I figured since this isn't closed yet it's OK to post here.  I updated LinqKit to the current version and changed my `True()` & `False()` methods to use `New()` instead.  This caused the functionality to break wherever I use `New()` instead of having an initial lambda.

I have since reverted back to using the `True()` & `False()` starter methods inst

[2016-10-06 16:23] rhyous commented on #30
If you run use the Visual Studio Diagnostic Tools (Debug | Windows | Show Diagnostic Tools) or SQL Profiler, you will be able to  and get the actual SQL query.

It is all about the WHERE statement in the actual SQL query EF generates.

Do this twice: Once with New() and once with your query using True() or False(). Compare the two queries.

New() does have a default lambda, it just only uses it if

[2016-10-10 13:52] jblacker commented on #30
@rhyous  You are absolutely correct, and I'm a dumbass.  Thanks for the clarification though.  I'll leave my comment up there so others can see your clarification comment.

[2016-10-12 01:02] gregtayl commented on #14
I have also confirmed that this is still an outstanding issue on 1.1.7.2.

The following code passes in version 1.1.3.1, but raises an assertion in 1.1.7.2 since the include is ignored, and MyNavigationProperty remains null (I haven't tried other versions so it's not clear which version this regression was introduced):

`var entity = context.Set<MyEntity>().AsExpandable().Include(o => o.MyNavigati

[2016-10-12 05:27] StefH commented on #14
Hi @gregtayl , @phobos2077.

Since version **1.1.3.1**, this project was split into three projects:

- http://www.nuget.org/packages/LinqKit/
- http://www.nuget.org/packages/LinqKit.EntityFramework/
- http://www.nuget.org/packages/LinqKit.Microsoft.EntityFrameworkCore/

Can you indicate which version you are using ?

[2016-10-13 21:46] gregtayl commented on #14
@StefH thank you for point that out, I was unaware that there were different versions.

I can confirm that calls to Include are respected when using LinqKit.EntityFramework.

[2016-10-15 09:56] StefH commented on #14
This breaking change in compatibility has also been discussed in this issue #49 .

The ideas are to bring back the dependency on **EF 6.x** into the **LinqKit** NuGet package. However my personal preference is to keep it like it's now, better package structure/naming and separation.

The downside is that indeed there are breaking changes if users just upgrade 1.1.2 to a later version which leads i

[2016-10-15 11:25] StefH commented on #49
Hi @Thorium,

I've another (_radical_) proposal for fixing compatibility issues as discussed in this thread and #14.

Create a new version from **LinqKit** which throws an exception on all extension methods. The exception message should be like:

At the time, post a new **LinqKit.Core** to NuGet which replaces the functionality from **LinqKit**. And maybe delete all other versions from **LinqKit**

[2016-10-17 22:01] Mardoxx commented on #30
Very eloquent way of describing your issue! Very brief but here:

Initially includes or excludes all results (true and false respectively)

1. Predicate returns either true of false. Needs to be one or the other initially depending on what you're trying to do with it

2. It's not a query it's a predicate

3. It is if you see it is a predicate builder not a query builder.

Isn't this rudimentary lo

[2016-10-18 16:46] jcmontes95 commented on #34
Hello, why was the 1.0.2 version removed from nuget? I'm currently using the 1.0.1 and having some issues.

[2016-10-18 17:28] StefH commented on #34
Please create a new issue with some details why it fails.

[2016-10-28 06:42] StefH commented on #49
Fixed by https://github.com/scottksmith95/LINQKit/pull/52

Issue will be closed.

@atul221282 use latest nuget pacakges for testing.

[2016-10-28 06:42] #49 closed

[2016-10-28 07:11] atul221282 commented on #49
Ok guys I will give it a try

[2016-11-16 15:43] edc65 opened #55 "No way to get SQç TraceString from ExpandableQuery"
Hi,
I see that you insist on SQL Profiling to check the SQL running on the db. But with EF IQueryable I have no need to use a specific tool, as I can cast to ObjectQuery and obtain the SQL with ToTraceString (and other info too). It's not so difficult to add this feature to ExpandableQuery. I did this in my LinqKit project

    public interface ExpandableQuery
    {
        ObjectQuery ObjectQuery

[2016-11-17 06:47] StefH opened #56 "Update LinqKit.Microsoft.EntityFrameworkCore to use Microsoft.EntityFrameworkCore to 1.1.0"
Use Microsoft.EntityFrameworkCore **1.1.0**

[2016-11-17 07:37] #56 closed

[2016-12-06 22:51] mike-rowley opened #57 "PCL Compatibility"
LinqKit 1.1.7.3 can be installed in a Profile 7 PCL but 1.1.8 cannot.

Could not install package 'LinqKit 1.1.8'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile7', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2016-12-10 15:14] jello-chen opened #58 "When predicate is too long,it throws System.StackOverflowException"
[code]

[2016-12-10 17:42] StefH commented on #58
Linked to https://github.com/scottksmith95/LINQKit/issues/9 ?

[2016-12-11 16:23] jello-chen commented on #58
Problem solved, the thinking of chunk inspired me, thanks!

[2016-12-11 16:23] #58 closed

[2017-01-05 18:39] StefH commented on #57
Can you provide a link to your example project?

[2017-03-13 20:21] TimHambourger opened #59 "Consuming ExpandableQuery w/ Contains(...) leads to multiple Db hits"
Stack:
.NET v4.5.2
EntityFramework v6.1.3
LinqKit v1.1.8

In EF, you can compose IQueryables using Contains(...) and the resulting IQueryable will execute in a single Db hit. E.g.:
[code]
triggers a query like
[code]

But if the consumed query is a LinkQit ExpandableQuery, this will instead trigger two Db hits:
[code]
[code]
[code]
The SQL generated is essentially the same as if you did
[code]
exc

[2017-03-14 08:41] StefH commented on #59
I guess that the real query execution from the normal example is delayed, until the full query is defined. Only then EF will generate the single SQL statement.

With LinqKit ExpandableQuery, the queries are directly excecuted, so you need two SQL statements.

The solution would be that you write your query different (try to make 1 query) or just create a simple StoredProcedure which does the job.

[2017-03-14 18:00] TimHambourger commented on #59
Yes, I gather what's going on is that EF has two behaviors when it sees `Enumerable.Contains` or `Queryable.Contains`: There's the default behavior that works for all enumerables, which involves iterating the enumerable and using the SQL IN operator. Then there's an alternative behavior for some special subset of IQueryables, which is to reach into the inner IQueryable's Expression tree and create

[2017-03-14 18:27] StefH commented on #59
Some short comment on:

I would expect a different approach (not return integers, these have no meaning, but real entities), like:
[code]

[2017-03-14 18:56] TimHambourger commented on #59
Yeah, that's a fair point. I'm not up on the full history of why we do ints and not entities, but I agree that entities might be a cleaner solution.

A couple other thoughts:

1. I'd like to expand this topic a bit. I'm realizing the problem isn't unique to Contains after all. E.g.
[code]
has the same issue. So I withdraw my suggestion of adding specific handling for Contains.

2. The problem is a

[2017-03-17 13:51] adamhaile commented on #59
If you're curious, the interface returns ints because not all rights implementations are EF based.  Some work against a cached in-memory rights table, some against other systems, etc.  For those that are EF, though, EF's ability to inline the .Contains() call has been a very useful performance gain.

[2017-03-21 11:07] StefH commented on #47
@MattWhilden Any update? Else I close this one.

[2017-03-22 17:34] RealDotNetDave opened #60 "Support for .NET 4.6.2?"
Is this project going to support .NET 4.6.2?

David

[2017-03-22 19:53] StefH commented on #60
LINQKit does not use any special features from .NET 4.6.2 , so a new build or NuGet is not needed. NuGet will automatically use 4.6.1

[2017-03-22 21:20] RealDotNetDave commented on #60
Well I had to back all of my projects back down to 4.6.1 due to switching to 4.6.2 made LINQKit break compiling. Moving to 4.6.1 fixed the compile. Did it now pull down the correct version maybe?

[2017-03-23 09:00] StefH commented on #60
I created a NET 4.6.2 project in VS2015 and I had no problems installing + compiling `LinqKit` or `LinqKit.Core`.

[2017-03-23 09:05] StefH commented on #34
@jcmontx Any update ? Else I close this issue.

[2017-03-27 14:56] jcmontx commented on #34
@StefH sorry for the delay, I can't remember what my issue was but somehow I fixed it, my app has been in production for months now. Thank you anyway!

[2017-03-27 15:53] #34 closed

[2017-04-06 15:54] lucaritossa commented on #55
Sorry for the trivial question...
have you already tried with this?

[2017-04-27 09:31] edc65 commented on #55
@lucaritossa I tried it now, but no useful info - as expected. Eg: "System.Data.Objects.ObjectQuery`1[EsomWebTwo.Code.VehicleQuery+FullDetailDataObject]"

[2017-05-12 10:04] cg110 opened #61 "ExpressionVisitor doesn't handle all expression Types"
While looking at the code, I found that resharper warned me that the switch statement in:
Visit

didn't handle:
`ExpressionType.UnaryPlus`
and
`ExpressionType.Power`

Pretty easy to fix as I believe UnaryPlus is Unary and Power is Binary.

(note I've not actually used them, but wanted to make sure the code handled them)

[2017-05-15 15:29] yvdh opened #62 "Expression evaluation fails with nullables"
Hi,

I have the expression builder method in VB.net

[code]

Odd thing is that if pvl.CentralWaitingRoomId (int?) is null the predicate evaluation fails if I do not test for a null first (code in bold). This is odd as comparison of nullable types with a null should work.

Any suggestions?

[2017-05-15 20:46] StefH commented on #60
@RealDotNetDave does this answer your question ? Or so you still need help?

[2017-05-15 20:52] StefH opened #63 "Upgrade projects to VS2017 csproj format and add support for NetStandard 2.0"

[2017-07-28 18:46] StefH commented on #57
@mike-rowley Any update ?

[2017-09-14 20:37] davisford commented on #30
What if I want to return all items if no other expressions are added?  None of the options above work for me.

For example, if I have a search class like this:

[code]

Now, I want to use it like this:

[code]

The first example works b/c as you stated the `.New()` drops the first predicate and only uses the last.

The second example does not work, because the predicate ends up being `1 = 0` which

[2017-09-14 21:05] davisford commented on #30
So, right now, the only way I can tell to do that (which is not ideal):

[code]
I wish the predicate had some kind of boolean indicator to tell me whether it was the starter expression.

[2017-09-14 23:05] rhyous commented on #30
I had to choose one as the default for empty PredicateBuilder.New(): true or false. I chose false. The reason I chose false is because with huge tables, you don't want the default to be true. Also, with the default of true, you might think your query works when it doesn't as it returns data. With false, you get nothing.

However, you can easily change it to true.

Use this overload:
```public stat

[2017-09-15 15:36] davisford commented on #30
@rhyous the issue isn't really so much whether the default is false or true.  I can easily create my starter expression as true, but that breaks the other case where I add more predicates b/c it always returns all records.

What I'm looking for instead is a way to introspect the predicate so it can tell me if it is empty or not, and then I can dynamically decide what to do to fit the use case.

Ri

[2017-09-15 16:51] rhyous commented on #30
You may benefit from storing the ExpressionStarter<T> in your variable. In your current code, the ExpressionStarter<T> is created in memory by PredicateBuilder.New<T>(), but then the code assigns it to an Expression<Func<T,bool>>, which will use the implicit cast, so the ExpressionStarter<T> is never stored and left to be garbage collected. You never actually have a variable holding onto the Expre

[2017-10-05 09:14] fgather opened #67 "License information"
Hi,
Thanks for the great project! I just noticed that the link to the license file on the Nuget Pages seem to be wrong. Also Github does not show the License Type as MIT which would be quite helpful for your users.

[2017-10-11 19:14] StefH commented on #57
@mike-rowley can you provide an example project ?

[2017-10-11 20:40] mike-rowley commented on #57
I abandoned using LinqKit in my project after 2 weeks without any response.

[2017-10-11 20:40] #57 closed

[2017-10-25 13:07] shyamal890 opened #68 "Not able to utilize AsExpandable"
I have created an extension method like:

[code]

This gives error saying:

[2017-10-28 12:01] #63 closed

[2017-10-28 12:05] #67 closed

[2017-10-28 12:09] #47 closed

[2017-10-28 12:09] StefH commented on #32
@xplatsolutions Any update?

[2017-10-28 14:38] xplatsolutions commented on #32
Not really, I didn't use the library but hey maybe I should revisit this in a project.

[2017-10-28 14:38] #32 closed

[2017-11-09 16:18] elduddz opened #69 "missing licensingUrl node from nuspec in .NET45"
We are using proget to manage our packages, this looks as the licensingUrl node to see what the licence is, I can see there is a licence.txt file in the repo, but that is not being referenced in the nuspec file?

Cheers,

Luke

[2017-11-09 17:13] StefH commented on #69
Related to https://github.com/scottksmith95/LINQKit/issues/67

[2017-11-09 20:17] elduddz commented on #69
I realised it might be a bit out of date, I was looking at the nuspec file in the .net45 version which doesn't have a reference pointer for the licenseUrl node.

No big deal really, we have signed it off as ok to use.

[2017-12-31 13:50] springy76 opened #70 "selectively apply QueryOptimizer"
I would like to apply the QueryOptimizer only on selected queries instead of only being able to globally turn in on or off.

Reason for that is (currently) that Linq.Expression.Optimizer is introducing massive querytree-recompilation to some of my EF 6.x queries using .AsExpandable().
That means that queries which before only took 900ms for the first run (due to compilation) and then only 2ms for

[2017-12-31 13:57] #69 closed

[2017-12-31 14:49] StefH commented on #61
Thanks for reporting.

I created new NuGet.

[2017-12-31 14:49] #61 closed

[2017-12-31 14:53] StefH commented on #70
By design this library is to be used as extension methods.

However, can't you just use the `ExpandableQuery` class ?

[2017-12-31 15:17] springy76 commented on #70
I'm not sure what I should do with `ExpandableQuery`?

Currently I have a lot of queries which use `.AsExpandable()` because `someExpression.Invoke()` is being used inside the query.
But I have no way to opt out of the call to QueryOptimizer, or ideally only opt-in for specific queries.

What do a `.AsExpandable(Func<Expression,Expression> customOptimizer)` overload any harm?

The only line where

[2018-01-04 18:50] StefH commented on #70
If the `ExpandableQuery` was made public, would that help?

[2018-01-11 04:13] dr130873 opened #71 "casting string to datetime"
Hi there,
Can someone please help .
We are trying to use linqkit to cast a string to date but the sql that is being generated does not contain the cast/convert statement.

we tried following the solution posted in  https://github.com/scottksmith95/LINQKit/issues/13
but I think it only works for type casting but there is no direct casting from string to date

**sample 1:**
[code]
the sql statement

[2018-01-12 11:58] RehanSaeed opened #72 "PredicateBuilder failing to build correct expression"
I'm trying to use the `PredicateBuilder` to do an 'Or' in my where clause like so:

[code]

This executes the SQL:

[code]

Here is what `MyItem` looks like, it has nullable properties:

[code]

The expression does not seem to be built properly and no 'Or' clauses get added. Are nullable types supported?

[2018-01-12 12:09] RehanSaeed commented on #62
Perhaps my issue is related to yours, I'm also using nullable types in my model https://github.com/scottksmith95/LINQKit/issues/72

[2018-01-12 14:06] #72 closed

[2018-01-24 14:49] me245 opened #73 "Documentation Request For Different Versions of LINQKit"
I see marked at the top of the ReadMe there are references to the different Projects (and associated NuGet Packages) that are associated with LINQKit. I am curious as to what exactly are the differences between these packages. I do see that they have listed what .Net frameworks these are capable of running against as well as on the NuGet pages for each it specifies what is implemented/missing in t

[2018-01-24 21:49] springy76 commented on #70
I can't see how this would help at all.

I prepared an incomplete proposal (could be a pull request if I could get this entire thing to compile [1]) which shows what I mean:
[https://github.com/springy76/LINQKit/commit/7536c961be3b5bafc49517001d77d3d29590ae68](proposal)

This way I could set the global QueryOptimizer or leave it "null". And for each query I could decide to a) use the global defaul

[2018-01-24 22:00] StefH commented on #73
The `LinqKit` is the original project which can only work for NET 4.5 and EntityFramework (6.x). Note that the `LinqKit.EntityFramework` project has the same functionality but follows the correct naming-convention.

When dotnet core was released, I decided to make a version for dotnet core without any dependencies on entity framework. This is the `LinqKit.Core` version. However you can only use th

[2018-01-24 22:23] StefH commented on #70
Ah I see. Sorry I did not get it.

I'll take a look...

[2018-01-25 17:45] StefH commented on #70
See this branch : https://github.com/scottksmith95/LINQKit/tree/optimizer which I think includes your requested logic.

[2018-01-26 07:47] springy76 commented on #70
From the diff it looks good. (I didn't have a clue what to do on the expression tree side.)

[2018-01-26 14:56] StefH commented on #70
I did upload new packages to MyGet feed : https://www.myget.org/F/linqkit/api/v3/index.json can you test if this works for you?

[2018-01-26 19:47] springy76 commented on #73
I'm using EF6 (with System.Data.SQLite as provider) and can switch between LinqKit.Core and LinqKit without experiencing any difference. Now I'm confused.

[2018-01-29 13:09] StefH commented on #73
Did you also try the `Async` methods ? I expect those to fail when just using `LinqKit.Core`.

[2018-01-30 14:04] StefH commented on #70
Did you have time to test this NuGet ?

[2018-01-30 17:17] springy76 commented on #70
I did a quick test in LINQPad and did not find any problems so far.

[2018-01-30 17:22] springy76 commented on #73
Since using System.Data.SQLite all async methods are blocking I don't use any of them.

[2018-01-30 19:11] StefH commented on #70
OK. Version uploaded to NuGet.

I will also try to update the documentation

[2018-01-30 19:44] #70 closed

[2018-02-07 11:34] jag43 commented on #14
Do you have an update on this? `Include` also doesn't work with the EF Core version. See here for example https://stackoverflow.com/questions/48661790/includes-doesnt-work-with-linqkit-asexpandable

[2018-02-15 09:36] MatejQ opened #75 "Question: Missing release notes for 1.1.12 and 1.1.13"
I considered upgrading from 1.1.9 to 1.1.13 but couldn't see any release notes for versions 1.1.12 and 1.1.13.

[2018-02-15 09:58] MatejQ opened #76 "Regression: ExpandableQuery<T> is inaccessible due to its protection level"
Hello,
when trying to update linqkit from 1.1.9 to 1.1.13, I am getting this error: ExpandableQuery<T> is inaccessible due to its protection level
We need to access this type to test an IQueryable<T> whether it is a database query or not, such as:

`bool isDbQuery = query is System.Data.Entity.Infrastructure.DbQuery<TEntity> || query is LinqKit.ExpandableQuery<TEntity>;`

But type ExpandableQuery<

[2018-02-15 16:22] StefH commented on #76
If you depend on this class, I will create a new NuGet.

[2018-02-16 07:13] MatejQ commented on #76
Thanks. It's enough to fix this in a next version.

[2018-02-16 18:55] StefH commented on #76
New NuGet will be uploaded in some time.

[2018-02-16 19:33] StefH commented on #75
I tried to recreate some release notes, please take a look. If you have specific questions, I will try to answer these.

[2018-02-16 19:33] #75 closed

[2018-02-21 09:32] MatejQ commented on #76
I tried version 1.1.14 again, but ExpandableQuery<T> is still internal.

![capture](https://user-images.githubusercontent.com/14346231/36472542-0a2dd2ba-16ea-11e8-94aa-b2cdfe47466c.PNG)

[2018-02-21 11:45] StefH commented on #76
Sorry, I'll fix it again.

[2018-02-21 17:19] StefH commented on #76
Version 1.1.15 will be uploaded soon.

[2018-02-21 17:19] #76 closed

[2018-04-19 19:37] NetMage opened #78 "ExpressionVisitor conflict"
If you use ExpressionVisitor, the one in LINQKit conflicts with the one in .Net 4.0 with using LINQKit; - does there need to be releases for .Net 4 and above or should it be a separate package added for those using .Net below 4?

[2018-05-14 07:10] pfeigl commented on #14
Are there any plans how this can be addressed? Is LinqKit going to extend EntityQueryProvider or is that not an option? Should we create a Ticket with EFCore to enable other query providers?

Ideally EFCore would have an interface which can be implemented which they check instead of just checking EntityQueryProvider.

[2018-05-19 01:11] vertonghenb commented on #14
Just my 2 cents but reading the EF Core docs, it shows the following:
**Ignored includes**

_"If you change the query so that it no longer returns instances of the entity type that the query began with, then the include operators are ignored.
In the following example, the include operators are based on the Blog, but then the Select operator is used to change the query to return an anonymous type.

[2018-05-21 08:01] jag43 commented on #14
@vertonghenb I don't think that is the issue because there is no `Select()` being used.

[2018-05-23 03:52] vertonghenb opened #79 "Reference Linqkit.Core and LinqKit.Microsoft.EntityFrameworkCore in 1 solution"
Having issues when using the LinqKit.Core in Core project and LinqKit.Microsoft.EntityFrameworkCore in data project
Error CS0433: The type 'LinqKitExtension' exists in both 'LinqKit.Core, Version=1.1.15.0, Culture=neutral, PublicKeyToken=bc217f8844052a91' and 'LinqKit.Microsoft.EntityFrameworkCore, Version=1.1.15.0, Culture=neutral, PublicKeyToken=a5e68054d5e7f94b' (CS0433) (Vault.Web)

[2018-05-23 21:14] StefH commented on #79
I can understand this issue, the code is the same.

Can you maybe just use the `LinqKit.Microsoft.EntityFrameworkCore` in all projects?

[2018-05-23 21:17] vertonghenb commented on #79
Well, I'm using it in the domain layer so using `LinqKit.Microsoft.EntityFrameworkCore` would take a dependency of `Microsoft.EntityFrameworkCore` on the domain which isn't really what i'd want. I'm just using `LinqKit`  in Data and the Domain which solved the issue appearantly.

[2018-05-23 21:17] #79 closed

[2018-05-31 08:51] jag43 commented on #14
@StefH

Is this a sufficient demonstration?

[2018-07-27 19:54] educielo opened #80 "Feature: Release for latest version EF Core 2?"
Is there any plan for release for .Net Core 2.2?
I have already added this package for a .Net Core 2.2 using the latest release but it gives me warning on my dependencies. Any future update for .Net Core 2,2?

[2018-07-30 21:47] vertonghenb opened #81 "Change namespace of LinqKit.Microsoft.EntityFrameworkCore"
I want to be able to use LinqKit.Core in my domain project and Linqkit.EntityFramework.Core in my data project(since I don't want a dependency on EF Core in my domain). However my data layer has a dependency on the domain project therefore I cannot use LinqKit's functions since the calls are ambigious.

Steps to reproduce:
Reference Linqkit.Core in your domain layer (you don't want a EF dependency

[2018-07-31 09:17] StefH commented on #81
If the domain project is also used by other applications which _don't_ use Entity Framework, it makes sense.

However if the domain project is always used in applications which are using Entity Framework, it has no use to make a separation.

[2018-07-31 09:19] vertonghenb commented on #81
The domain project is also used by other applications which don't use Entity Framework.

[2018-08-08 09:57] StefH commented on #81
A solution would be to conditionally include the correct library in the domain project.
Example could be:
[code]

Where you define `EF` or `non-EF` in the project where the domain project is used.

[2018-08-08 09:59] #81 closed

[2018-10-04 09:30] mahald commented on #80
+, would be nice to have the library compiled with .NET Standard

[2018-10-22 10:55] MatejQ commented on #59
I found this issue after a few hours of googling (and searching where the error comes from). Essentially when I do:
[code]
The second statement fails in runtime with exception
System.NotSupportedException: "Unable to create a constant value of type 'LinqKitContainsMinimalRepro.MyModel'. Only primitive types or enumeration types are supported in this context."
It's not possible to rewrite the first

[2018-10-26 12:47] NextFreeUsername opened #82 "PredicateBuilder changes predicate itself, not only returned value"
Using LinqKit.Microsoft.EntityFrameworkCore, Version=1.1.15.0

The following code should leave basePredicate with only "true" and newPredicate with "true and Property = someValue".
[code]
However basePredicate is changed itself to "true and Property = someValue", so it is not only returning the new expression, it is changing the original. This certainly not the case in older (.Net 4.x + EF6) versi

[2018-11-04 05:26] weedkiller opened #83 "Is it possible to get expression tree or linq from SQL?"
Hi, I was wondering if there was an option to get the linq out of the Sql.

like mentioned [here](https://stackoverflow.com/a/589138/6085193), but it doesnt work for me and i was looking to use your lib.

[2018-11-07 15:08] MatejQ commented on #59
Anybody alive? Is this going to be fixed or not?

[2018-11-21 20:59] TimHambourger commented on #59
@MatejQ Yes, you've hit this same issue alright. I haven't heard more from any maintainers about a fix.

Looking at this again, I still see the same two possible avenues:
1. Reach out to the EF team to ask about the "special subset of IQueryables" that I mention [above](#issuecomment-286507946). Is there any possibility of hooking into that process to add support for `ExpandableQuery<T>`?
1. Short

[2018-11-22 06:34] StefH commented on #80
The .NET Standard 2.0 version (LinqKit.Microsoft.EntityFrameworkCore) has a dependency on `Microsoft.EntityFrameworkCore (>= 2.0.1)`, however when you just install a newer EF version, this should not be a problem?

[2018-11-22 06:35] #46 closed

[2018-11-22 08:20] StefH commented on #59
About option 2:

It's possible to determine if the method call is a special method call, the same is also done here:

[System.Linq.Dynamic.Core/Parser/ExpressionParser.cs](https://github.com/StefH/System.Linq.Dynamic.Core/blob/c814eb2c7a8e131b86473b1a7ad8b23ab92676e0/src/System.Linq.Dynamic.Core/Parser/ExpressionParser.cs#L1638)

With the help from this class:
https://github.com/StefH/System.Linq.

[2018-11-26 09:19] reberinformatik commented on #80
Project target framework is .NET Core 2.1:
![image](https://user-images.githubusercontent.com/22144995/49004491-a7db7080-f164-11e8-849c-2caf40208507.png)

[2018-11-26 12:50] StefH commented on #80
@educielo and @reberinformatik

I'm confused, what is your exact question or what does not work on your system ?

[2018-11-26 14:34] StefH commented on #59
@TimHambourger
An out of the box question:

Why not use the the **AsExpandable()** only on the final last statement?

[code]

[2018-11-27 05:26] KLuuKer opened #85 "Support EF Core 2.2 query tagging from inside expressions"
I have a couple of (complicated) expressions that get reused allot
so I would like to have the tagging support from inside the expression so I don't have to specify it everywhere manually

https://docs.microsoft.com/en-us/ef/core/querying/tags/

[2018-11-27 07:43] StefH commented on #85
Do you just want to use the
[code]
functionality?

And why is this not supported now ?

[2018-11-27 12:46] StefH commented on #85
If it's defined on IQueryable, you can just use it ? So why this issue ?

[2018-11-27 17:45] KLuuKer commented on #85
I use a bunch of expressions like the one above all over the place and would like to not have to both specify the expression and adding the tag to the query

only add the tag from inside the expression once

[2018-11-28 08:51] KLuuKer commented on #85
it would make tracking expression usage allot more easier

we use the querystore to diagnose sql query perf issues and the like
https://docs.microsoft.com/en-us/sql/relational-databases/performance/query-store-usage-scenarios?view=sql-server-2017

and you can also see the actual sql query being executed so it would be nice if we can easily add the tags from inside the expressions

[2018-11-29 11:33] MatejQ commented on #59
I tried AsExpandable before call to Where, as @TimHambourger said, but no difference, still getting the same error. Then I tried AsExpandable as last, before ToList, as @StefH said, no difference either.
I'm stumped. Looks like this won't budge at all until it's fixed in LinqKit.

[2018-11-29 13:13] educielo commented on #80
I'm just getting a nasty compilation warning on the dependencies same as the screenshot above provided by @reberinformatik. It's nice to have a version that is compatible with .Net Core 2.1 or higher. I guess the one i have pulled has some dependencies. The library works as expected but the warning is a bit disturbing.

[2018-11-30 08:35] StefH commented on #80
I cannot reproduce, see my example project at : https://github.com/StefH/LinqKitExamples

[2018-11-30 10:20] educielo commented on #80
@StefH upon updating my visual studio and the latest .net sdk, the warning also went away.

[2018-11-30 12:03] StefH commented on #80
OK.

Closing.

[2018-11-30 12:03] #80 closed

[2018-12-05 12:23] jrt324 opened #86 "PredicateBuilder usage for inline linq query"
If i use follow code , the **condition** has not **Invoke** Method to call

`             var condition = PredicateBuilder.New<DeviceEntity>();

                if (!filter.DeviceTypeId.IsNull())
                {
                    condition = condition.And(u => u.DeviceTypeId == filter.DeviceTypeId);
                }

                var deviceList = from d in db.Devices.AsExpandable()

[2018-12-05 12:48] StefH commented on #86
Good question.

If you are just using Linq, this works fine:
[code]

[2018-12-06 09:38] StefH commented on #86
If the `Predicate` property was public on the `ExpressionStarter{T}`, you could have done this:
[code]

[2018-12-06 15:16] jrt324 commented on #86
@StefH But the ` ExpressionStarter<T>.Predicate ` is not public

[2019-01-17 09:13] isc30 commented on #68
ToEnumModel must be an expression, for example:

    public static Expression<Func<Enum, EnumModel>> ToEnumModel()
    {
        return x => new EnumModel
        {
            CFPId = x.CFPId,
            CreatedAt = x.CreatedAt,
            ModifiedAt = x.ModifiedAt,
        };
    }

and later:

    Enums = x.Enums.AsExpandable.Select(ToEnumModel())

[2019-01-25 09:39] adrien-constant opened #87 "PredicateBuilder inside Any clause doesn't work with pagination (Skip / Take)"
Hello
I will give a more detailed case as soon as I have enough time, but I came through an issue using PredicateBuilder (which is very handful and should be included straight inside EF Core I think).
I use it to build a predicate to filter a navigation property (one to many).
But doing do now breaks the pagination I use with Skip / Take, I've checked with SQL Profiler and all the results are retu

[2019-02-01 10:12] freica opened #88 "How to tracing on EF6 using ObjectContext"
Is there any solution for this?
`                query1 = query1.AsExpandable().Where(expression);

                // After using AsExpandable I cannot cast my query to ObjectQuery to trace sql command on EF6,
                // using ObjectContext
                ////var objectTrace = (query1 as ObjectQuery).ToTraceString();
                ////Debug.WriteLine(objectTrace);
`
Best regards Freica

[2019-02-01 12:32] freica opened #89 "InvalidCastException PropertyExpression -> LambdaExpression"
I am using the following code:
`

        public static Func<T1, bool> StatusOffen
        {
            get { return d => d.status < 400; }
        }
        public void Test()
        {
                Expression<Func<T1, bool>> expr1 = a => Item.StatusOffen(a);
                Expression<Func<T1, bool>> expr2 = a => Item.StatusBearbeitbar(a);
                Expression<Func<T1, bool>> expr3 = a

[2019-02-09 21:27] dudeNumber4 opened #90 "Can't get simplest possible example to add where clause to SQL"
I'm very confused.  Any query I write gives the the correct result; none of them generate any SQL other than `select [every column] from Table` (as seen by tracing my database).  Here is very simple example:

    Expression<Func<TransactionTracking, bool>> expression = (tt) => tt.TransactionId == TRANSACTION_ID;
    using (var context = new MyEntities())
    {
        var frist = context.Transacti

[2019-02-14 16:46] dudeNumber4 commented on #90
Disregard, better searching yielded [my answer](https://stackoverflow.com/questions/20252016/strange-linq-to-entities-behavior-with-asexpandable).

[2019-02-14 16:46] #90 closed

[2019-03-13 02:08] JonathanMagnan opened #91 "Entity Framework Classic - Support"
Hello Scott,

Would you be interested to add support to Entity Framework Classic: https://entityframework-classic.net/

EF Classic is basically an Entity Framework 6 fork with performance improvement, new features, and .NET Core support.

If you want, we could create a pull on our side.

Best Regards,

Jonathan

[2019-03-13 02:40] CrestApps commented on #91
Agreed! This would be an amazing addition.

[2019-03-13 05:20] StefH commented on #91
And which version do you want to support? Community, paid or both?

[2019-03-13 11:35] JonathanMagnan commented on #91
Hello @StefH ,

Supporting one automatically support the other. They use the same name/signing key.

For example: https://www.nuget.org/packages/Z.EntityFramework.Plus.QueryIncludeFilter.EFClassic/
support both. This is probably not the best practices but by ommiting to add the dependencies to EF Classic in the Package, people can use the same QueryIncludeFilter package with EF Classic `Community`

[2019-03-15 11:46] StefH commented on #91
I've create a preview version, can you please try this one?
https://www.myget.org/feed/linqkit/package/nuget/LinqKit.Z.EntityFramework.Classic

[2019-03-15 15:27] JonathanMagnan commented on #91
Hello @StefH ,

We made some test under `.NET45` and `.NET Core` and everything we tested worked.

Is there something special you would like we test more? Is adding the support for EF Classic was a simple as changing the reference or something else had to be modified for our library?

On the package, I see there are some dependencies for EF Classic. Even if it depends on our package, I believe the

[2019-03-16 08:10] StefH commented on #91
Some remarks:

1] If you don't need `Include(...)` and `Async` support, you should be able to just use the `LinqKit.Core` NuGet package. No need for me to update that package. Did you also test this one?

2] If you need Async support (`IDbAsyncEnumerator`) or `Include(...)` then you need to use a EF specific NuGet, that's the reason these project exists: `LinqKit.EntityFramework` and `LinqKit.Micr

[2019-03-17 17:24] JonathanMagnan commented on #91
Hello @StefH ,

## LinqKit.Z.EntityFramework.Classic
We need the option 2. People expect to upgrade from `EF6` to `EF Classic` and have everything working as it was in `EF6`. So something will be missed with option 1.

I have made a few tests and everything is working fine with `async`.

The person that requested us the support for LinqKit is currently testing it in his project, so I will try get

[2019-03-17 17:56] StefH commented on #91
OK, I'll wait on the test results, and when all is fine, I can release a NuGet.

@Thorium and @scottksmith95
But I still thinking on which version to use, should I use version `1.0.0` for this new NuGet or use the current `1.1.15` or upgrade all to `1.1.16` to keep all versions aligned.

[2019-03-17 18:12] Thorium commented on #91
I vote for keeping version numbers aligned.

[2019-03-17 20:16] JonathanMagnan commented on #91
I agree with Thorium. Version aligned is the way to go.

Thank a lot btw for the fast support ;)

[2019-03-19 21:47] JonathanMagnan commented on #91
Hello @StefH ,

I got the confirmation that everything worked like a charm also on his side. I believe at this point, it's safe to release a stable version whenever you have time.

[2019-03-20 01:12] CrestApps commented on #91
I also tested it and it seems to be all good! Great addition to this awesome package

[2019-03-20 09:49] StefH commented on #91
New official NuGet is uploaded and will be visible in some time.

[2019-03-20 09:49] #91 closed

[2019-03-20 09:51] JonathanMagnan commented on #91
Great,

Thank a lot ;)

[2019-04-03 07:06] mhamri commented on #89
this already has a solution in [here](https://stackoverflow.com/questions/6226129/is-there-a-particular-reason-linqkits-expander-cant-pick-up-expressions-from-f/7807849#7807849)

but I don't know why still it's not fixed in the source code.
@scottksmith95 do you have any plan to add support for method and property exressions?

[2019-04-09 16:02] tmc101 commented on #30
I've just moved from LinqKit 1.1.3.1 to LinqKit 1.1.16.0

Switching to using Predicate.New() broke my code.

Replacing PredicateBuilder.True and PredicateBuilder.False with PredicateBuilder.New feels very counter-intuitive to me.

The AND and OR operations on predicates form a monoid with TRUE and FALSE being the identity values respectively.

i.e. It makes sense from a Boolean logic viewpoint to

[2019-04-09 17:59] rhyous commented on #30
@tmc101

Wow. The build breaking can be annoying. Did it break because of the obsolete call? Or did it break/break because of code behavior?

Code can always get better. What about PredicateBuilder.New() is confusing?

[2019-04-09 20:18] tmc101 commented on #30
It originally broke the compile because of the deprecation.

So I changed my calls from PredicateBuilder.True to use PredicateBuilder.New(true).

Then it broke the tests with:

System.InvalidOperationException : Internal .NET Framework Data Provider error 1025.

These two tests illustrate the difference (they are a cut-down version of my actual tests):

[code]

The model is:

[code]

The things I

[2019-04-09 20:41] rhyous commented on #30
Let me give your failing test a look.

[2019-04-10 00:06] rhyous commented on #30
I looked at this more thoroughly for you.

## Unit Tests ##
If you ToString() Expression<Fun<Journal,bool> or ExpressionStarter<Journal> both ToString to the same string. However, if you call ToString on a subexpression to which you have passed in the build predicate, you will see the subexpression know about the wrapper. The ExpressionStarter.Compile() becomes wrapped in a Value() call.

The ToSt

[2019-04-10 10:24] tmc101 commented on #30
Thanks for the explanation.

I'm going to stick with using True() and False() for the time being.

I genuinely feel that they are easier to understand.

[2019-04-10 15:01] rhyous commented on #82
PredicateBuilder now returns ExpressionStarter<T>. That object provided some cool features.

1. You can know if the predicate is started or not.
2. Expressions cannot be null.
3. It holds a copy of the expression and handles the updating of that predicate so you don't have to manage the reassignment.
3. You an still cast it away if you don't use var or if you use 'as':
[code]
4.  Before Expression

[2019-04-10 15:47] rhyous commented on #86
While ExpressionStarter<T>.Predicate is not public it doesn't need to be. It is provided using an implicit cast.

[code]

If you don't want to use ExpressionStarter, you can cast it way by either not using var or using 'as' as mentioned above.

There are benefits to ExpressionStarter<T> which I noted in another post: https://github.com/scottksmith95/LINQKit/issues/82#issuecomment-481728199

[2019-04-10 16:38] rhyous commented on #87
I could be wrong, but is this because you are missing AsExpandable()?

[2019-04-11 14:04] The-DevOps-Guy commented on #55
Is there a solution for this?

[2019-04-18 09:20] mhamri commented on #68
@shyamal890 it should be like this

[code]

[2019-04-18 09:27] mhamri opened #93 "AsExpandable break the change tracker"
just noted the AxExpandable is breaking the tracking behavior

this works
[code]

this doesn't works
[code]

[2019-04-18 13:53] johnbouma commented on #93
I wouldn't expect it to. You're projecting the data to a type not understood by the change tracker, so it's a strongly typed way of returning an anonymous class with some extra tree traversal thrown in.  If you want to change your entity, fetch that.

[2019-04-18 14:06] johnbouma commented on #14
As a note, something related to this that I've seen is that owned types are not queried during the projection.  So if

Foo has one Bar
And Bar owns one baz (specifically in my case if Baz is in another table

And then your projection of Foo has a non projected Bar property, it will be null.  This dispite the fact that Bar owns Baz, and Baz would be included in any Bar returned from a query.

[2019-04-18 14:16] mhamri commented on #93
I didn't get what do you mean. this is not a projection. the projection is if I do something like this

[code]

so this one shouldn't be tracked. but getting on object from IQueryable should be able to be tracked. the main reason it won't be tracked is because of the `ExtensibleProvider`. the linqkit is overriding the `Service.Provider` which as my understanding can be done in better way. i will t

[2019-04-29 06:24] a-stankevich commented on #89
I actually forked this repo to apply fix from that SO thread only to find  that it's actually already fixed and works fine. It doesn't work in OPs scenario because the property invoked should return `Expression<Func<...>>`, not just `Func<...>`.

[2019-05-18 06:23] Enngage opened #95 "Support .NET Core 3"
Thanks for the awesome lib! I've been using it with great success in my app thus far.

I'm in a process of migration to .NET Core 3 where simply calling `AsExpandable` throws Exception:

[code]

[code]

Is there something I'm missing or was there indeed some change in .NET Core 3 & EF 3 which is not yet supported?

[2019-05-20 07:38] KLuuKer commented on #95
EF Core 3.0 is getting some "small" changes...
[https://github.com/aspnet/EntityFrameworkCore/issues?q=label%3Aproviders-beware](https://github.com/aspnet/EntityFrameworkCore/issues?q=label%3Aproviders-beware)

Basicly the whole query processing bit is getting a near total rewrite.
For the better. [https://github.com/aspnet/EntityFrameworkCore/issues?q=label%3Arelinq-dependent](https://github.com/

[2019-05-28 18:43] lucianparvu opened #96 "Predicate Builder With dynamic Values Could not parse expression Error"
Hy

I have an error : The given arguments did not match the expected arguments: Object of type 'System.Linq.Expressions.MethodCallExpression3' cannot be converted to type 'System.Linq.Expressions.LambdaExpression' ...

var result = await queryAtributesValues.AsExpandable().Select
                                    (
                                        a => new

[2019-07-04 21:52] tfierens opened #97 "Does not build Where predicate"
Hi,

I have a Web API 2.0 project which uses EF6.

I needed to use predicate and was delighted to have discovered the code for LinqKit on http://www.albahari.com/nutshell/linqkit.aspx and I have been attempted to use it but I'm having problems.

With the code from the provide link, I noticed it didn't build there Where part of my query when using a predicate. It just created a SQL query without th

[2019-07-06 16:28] tfierens commented on #97
I've got it to work.

I didn't spot a warning that informed me that I had a conflict between versions of LinqKit. Once I removed the version of LinqKit from my service layer and used the same one as in my data layer, the problem got resolved.

Hope this help others.

T

[2019-07-06 16:29] #97 closed

[2019-07-19 21:31] bsoulier opened #98 "Clearer license sated in repo?"
hey there,

Seems that from the content of the License files that this project is available under a MIT license, but this is not reported as such bit Github.

Would be great to have a simpler License statement so that Github could report on it automatically: https://github.blog/2016-09-21-license-now-displayed-on-repository-overview/

[2019-07-20 08:00] StefH commented on #98
Done

[2019-07-20 08:00] #98 closed

[2019-07-28 22:30] moataz1991 opened #99 "filtering based on navigation property ?"
Hello...
as known in EF Core , you can't just do the following

[code]

this this repo help doing this ?
can we filter on server side by complicated navigation properties ?

Thanks

[2019-07-29 17:11] StefH commented on #99
This library cannot do that, however I think that [Linq.PropertyTranslator.Core](https://github.com/StefH/Linq.PropertyTranslator.Core) with [QueryInterceptor.Core](https://github.com/StefH/QueryInterceptor.Core)can do this.

Example:
[code]

[2019-08-07 12:02] brunosantosrhsenso opened #100 "Is AsExpandable still necessary on EF Core?"
When trying to convert a Core 2.2 web app (EF 2.2) to Core 3 (EF 3.0), AsExpandable was throwing an exception "Could not load file System.Interactive.Async". I then removed AsExpandable and the query (using predicatebuilder) seemed to work just fine. I did the same with the Core 2.2 version, and it also seemed to have worked properly. So now I'm wondering if I'm missing some feature by removing As

[2019-08-08 05:27] StefH commented on #100
Can you maybe create a example project to demonstrate this?

[2019-09-23 15:09] Bert-Proesmans commented on #89
I encountered the same issue.
Has anyone actually filled a pull request to fix this? I'll look around if the issue is actually identical and will file a PR to close this issue.

[2019-09-24 18:49] Bert-Proesmans commented on #89
Seems I cannot reproduce my issue which resembles the provided code.. but with `Expression<Func<..>>` instead of simply `Func<>`. I'll need to take a fresh look at my code to properly find out I did something stupid.

[2019-10-01 13:23] zdarovka commented on #95
This is a valid in issue now when the stable versions have been released

[2019-10-01 19:39] joshmouch commented on #100
I get this, too.

[2019-10-02 09:37] jtheisen opened #101 "Support for EF 6.3, targeting net45 and netstandard2.1"
The new version of EntityFramework 6.3 has an additional target, netstandard2.1, allowing it to be used with .NET Core 3.

I would assume that, for LINQKit EF6's incarnation, to support that new target also, it's "only" a package management issue rather than requiring any code changes.

[2019-10-02 17:00] StefH commented on #101
Seems reasonable. I will investigate if LinqKit and LinqKit.EntityFramework can also Target netstandard 2.1 + EF 6.3

[2019-10-03 09:56] StefH commented on #101
I can upload a preview version to MyGet so that you can test, would that help?

[2019-10-03 21:20] jtheisen commented on #101
It's not extremely pressing in my case, but if you give me a link I'll try it out, thanks!

[2019-10-04 00:11] ynauls commented on #101
any updates? looking for .netstandard2.1 support

[2019-10-04 09:53] leotsarev opened #102 "EF6 and EF Core version controversy"
Consider following scenario.
Project A references both LinqKit and EF6 and has following code:
[code]

Now we need adding new context with Bar data to our application, and choosing to use new brand shine EF Core.
We need to add references (may be transitional) to EF Core and `LinqKit.Microsoft.EntityFrameworkCore`. Than we try to add following code to `Loader.cs`
[code]
Oops, we get compile error

[2019-10-04 13:38] StefH commented on #102
I don't understand:
_Now compiler could figure ToArrayAsync, but still fails to figure LinqKit types between LinqKit.EntityFramework and LinqKit.Microsoft.EntityFrameworkCore._

What do you mean by **LinqKit types**?

And you can just use `#if / #else` compiler switches to make a common library which uses EF6 or EFCore.

[2019-10-04 14:21] jtheisen commented on #101
Btw, I'm not sure if LINQKit.Core needs a new release at all. I think it already has netstandard2.0 as a target. Only the EntityFramework package (LINQKit.EntityFramework) hasn't, and there it needs to be 2.1 as that is the only version of netstandard that the new EF is targeting (for reasons unknown to me).

[2019-10-04 15:05] StefH commented on #101
@ynauls
1.1.17-preview-01 is available for testing at MyGet : https://www.myget.org/F/linqkit/api/v3/index.json

[2019-10-04 15:05] StefH commented on #102
Maybe you can provide an example project ?

[2019-10-04 16:11] leotsarev commented on #102
I'll try to provide https://github.com/leotsarev/linqkit-namespace-controversy

[2019-10-04 16:12] leotsarev commented on #102
No, I can't use compile switches, because I need EF6 and EF Core both working :-)

[2019-10-04 16:19] 206mph commented on #100
I am running into the same problem with AsExpandable after converting to Net Core 3. As brunosantosrhsenso mentioned, removing AsExpandable works but want to make sure that's correct.

[2019-10-04 17:17] StefH commented on #100
If you want to use async. Then you need the LinqKit version which references EF or EFCore.

See the table on main page from this project.

Using Expandable on net core 3 : I have to check...

[2019-10-04 17:18] StefH commented on #102
So you want one project where you want to use EF6.3 and EFCore???

[2019-10-04 17:19] joshmouch commented on #100
@StefH
You still do need to use it in at least one case that I've found.

[2019-10-04 20:07] ynauls commented on #101
@StefH, I needed this to upgrade to EF 3, I was getting the same error described here [#100 by @brunosantosrhsenso](https://github.com/scottksmith95/LINQKit/issues/100#issue-477886013). Using 1.1.17-preview, I get get past that error, but now I getting the same error described here [#100 by @joshmouch](https://github.com/scottksmith95/LINQKit/issues/100#issuecomment-537195988)

[2019-10-04 21:19] StefH commented on #101
I need to update the code because ef3 now supports real async enumerable.

[2019-10-05 08:51] StefH commented on #101
@ynauls
New preview is uploaded : `LinqKit 1.1.17-preview-02` which works with EFCore 3.

Please test.

[2019-10-05 08:51] StefH commented on #100
@joshmouch and @206mph and @brunosantosrhsenso
New preview is uploaded : `LinqKit 1.1.17-preview-02` which works with EFCore 3.

Please test.

[2019-10-06 11:02] StefH commented on #73
closing...

[2019-10-06 11:02] #73 closed

[2019-10-06 19:29] leotsarev commented on #102
Basically yes.

[2019-10-07 05:52] StefH commented on #102
Can be solved using `alias`.
See https://stackoverflow.com/questions/35899657/how-to-extern-alias-an-assembly-with-net-core

And see my PR on https://github.com/leotsarev/linqkit-namespace-controversy

[2019-10-07 06:10] leotsarev commented on #102
Thanks for help! Do you think that having workaround in terms of AsExpandable6/AsExpandableCore and Invoke6/InvokeCore in LinqKit directly won't hit cost/benefit bar?

[2019-10-07 08:51] mariusAF commented on #100
Preview works - Thanks @StefH

[2019-10-07 11:49] StefH commented on #102
Adding these workaround methods is also possible.
- `AsExpandableEF`
- `AsExpandableEFCore`
&
- `InvokeEF`
- `InvokeEFCore`

I'll check if this can be done easily, or that some complex changes are needed.

[2019-10-07 14:01] ynauls commented on #101
@StefH, `LinqKit 1.1.17-preview-02` looks good on initial pass. Will keep testing.

[2019-10-15 20:16] StefH commented on #102
@leotsarev
A new version (preview-03) can be downloaded from MyGet and can be used like:
[code]

[2019-10-23 17:00] ynauls commented on #101
@StefH, when can we expect 1.1.17 on NuGet?

[2019-10-23 17:32] StefH commented on #102
@leotsarev Could you test this?

[2019-10-23 17:32] StefH commented on #101
I'm waiting for verification on this one also:https://github.com/scottksmith95/LINQKit/issues/102

Once that's correct, I'll create a NuGet.

[2019-10-24 10:55] leotsarev commented on #102
Yep, we'll try to

[2019-10-29 06:02] StefH commented on #102
@leotsarev Any progress on testing this?

[2019-10-30 10:17] leotsarev commented on #102
Sorry for delay. Seems that InvokeEF/InvokeEFCore are missing
[code]

[2019-10-30 12:45] StefH commented on #102
Preview-04 should be available on MyGet

[2019-10-30 15:13] GitHubAre opened #105 "Expression handling in .Net Core 3.0"
Hello,

I am in progress of upgrading to Asp.Net Core 3.0.
In previous version (2.2) this was working:
[code]

In 3.0 it results to:
[code]

Is it because LinqKit is not compatible with Ef Core 3.0?

[2019-10-30 16:27] StefH commented on #105
Some questions for you:

1]
what happens in your EFCore 2.x when you apply this change as described here: https://docs.microsoft.com/en-us/ef/core/querying/client-eval#previous-versions

2]
Shouldn't the query use `AsExpandable()` ?
Like:
[code]

[2019-10-31 08:50] GitHubAre commented on #105
I got your point and you are right, it was evaluated on the client side all the time. So when I did the https://docs.microsoft.com/en-us/ef/core/querying/client-eval#previous-versions, it throws exception.

Regarding second point, where I am trying to fix it so that its translated into SQL and evaluated in the database.
I have changed it to:
[code]
Expandable() is my method inside repository class

[2019-10-31 09:05] GitHubAre commented on #105
This was using .net core 2.2 and stack trace is:
[code]

[2019-10-31 10:22] StefH commented on #105
Actually, I think your code should be (EF2.2 and EF3) like this:
[code]

No need to call invoke by yourself.

[2019-10-31 10:40] GitHubAre commented on #105
I moved back to .Net Core 3.0 and error is different than in 2.2

Method 'ExecuteAsync' in type 'LinqKit.ExpandableQueryProvider`1' from assembly 'LinqKit.Microsoft.EntityFrameworkCore, Version=1.1.16.0, Culture=neutral, PublicKeyToken=a5e68054d5e7f94b' does not have an implementation.

I think its related to the Pull Request that is not yet released on Nuget.
For now I will rewrite the code and e

[2019-10-31 10:40] #105 closed

[2019-11-07 18:10] ynauls commented on #102
@StefH, any way you can upload the preview to Nuget.org?

[2019-11-08 06:40] StefH commented on #102
@leotsarev Can you please verify?

@ynauls I'll upload the preview-04 also to NuGet in some time.

[2019-11-08 18:03] StefH commented on #102
@ynauls version 1.1.17-preview-04 is uploaded to NuGet

[2019-11-08 19:53] StefH commented on #100
`LinqKit 1.1.17-preview-04` is also uploaded to NuGet;
Please test.

[2019-11-08 19:59] StefH opened #106 "System.InvalidOperationException HResult=0x80131509 - See https://go.microsoft.com/fwlink/?linkid=2101433 for more detailed information"
Related to :
- https://stackoverflow.com/questions/58092869/ef-core-2-2-linq-query-not-working-in-ef-core-3-0
- https://github.com/scottksmith95/LINQKit/issues/105

[2019-11-08 20:05] williamdnapier opened #107 "AsQueryable<Order> ex example app, EF Core 3, LinqKit 1.1.17-preview-04"
I just grabbed LinqKit.Microsoft.EntityFrameworkCore(1.1.17-preview-04) to try to get around the EF Core 3 .AsExandable(): [LINQKit issue 100](https://github.com/scottksmith95/LINQKit/issues/100)

When I try to run the little example console app:

[code]

It still throws an exception on this line:

[code]

System.InvalidOperationException
  HResult=0x80131509
  Message=Processing of the LINQ expre

[2019-11-08 21:39] StefH commented on #107
I think, you should use:
`Expression<Func<IGrouping<DateTime, Order>, decimal>> expression = orders => orders.Average(o => (decimal)o.Amount);`

See example here: https://github.com/StefH/LinqKitExamples/tree/master/ConsoleAppForTestingEFCore3

(However I did not yet test on real DB)

[2019-11-11 09:52] Anderman opened #108 "Nested select expression give error Expression of type 'System.Func`2[X,Y]' cannot be used for parameter of type 'System.Linq.Expressions.Expression`1[System.Func`2[X,Y]]'"
When I tried the following code I get an runtime error. I looks that the asExpandable is not working

[code]

[2019-11-11 14:26] williamdnapier commented on #107
@StefH Yes, rewriting the expression works when using a real database. Thanks.

[2019-11-11 14:26] #107 closed

[2019-11-11 14:28] williamdnapier commented on #106
@StefH I think you may be safe to close this one too.

[2019-11-11 14:45] StefH commented on #107
Maybe I need to update the example which is explained in the readme?

[2019-11-11 14:48] StefH commented on #106
This problem is more generic, like in EF 2.x some code was evaluated at the client but there was no feedback about this.
In EF 3 that same code will throw exception.

[2019-11-11 16:56] williamdnapier commented on #106
ok, understood

[2019-11-11 16:57] williamdnapier commented on #107
Probably a good idea.

[2019-11-12 06:33] leotsarev commented on #102
No, Invoke is not working for us.
Following code snippet:
[code]
Neither version are working:

**EF6** version: `NotSupportedException: LINQ to Entities does not recognize the method Boolean InvokeEF[EfModel, Boolean]`
**EF Core** version: Fallback to client side execution, no `WHERE` in resulting SQL.

[2019-11-20 15:02] leotsarev commented on #102
yes

[2019-11-20 15:42] Armarr commented on #100
Can confirm that preview 04 also works

[2019-11-26 16:44] StefH commented on #102
https://github.com/scottksmith95/LINQKit/pull/103

[2019-11-26 16:44] #102 closed

[2019-11-26 16:44] StefH commented on #101
https://github.com/scottksmith95/LINQKit/pull/103

[2019-11-26 16:44] #101 closed

[2019-11-26 16:44] StefH commented on #100
https://github.com/scottksmith95/LINQKit/pull/103

[2019-11-26 16:44] #100 closed

[2019-12-17 23:32] seankanderson commented on #95
I'm getting compiler errors when trying to build a Xamarin Forms UWP app using the latest stable release of EFCore and .NET Core 3.1.  I assume this is the same issue? See the attached file for details pointing to LinqKit and EntityFrameworkCore.

[Linqkit EFCore 3 Issue.txt](https://github.com/scottksmith95/LINQKit/files/3975498/Linqkit.EFCore.3.Issue.txt)

[2019-12-26 09:58] Bert-Proesmans commented on #102
Hi @StefH,

This works for Where() methods but not within Select() (projections) where it is required to manually call Invoke on the Func expressions.

I'm in the same situation where i'm working with both EF and EFCore for the foreseeable future because my supplier only provides an adapter for EF currently.
Calling InvokeEF throws the exception below at runtime. I'm simply calling this;

[code]

[2020-01-02 12:44] alexander-karnadi commented on #95
hi there, is there any estimate when we can expect support for .Net Core 3.x?

[2020-01-02 12:46] zdarovka commented on #95
Hello @alexander-karnadi, I think this was already addressed, we are using it in one project which runs on 3.1. But I can not check if that is true right now.

Based on the nuget there was a new version released 1 month ago, which I believe was fixint this

[2020-01-09 01:09] dbroudy opened #111 "NotSupportedException using ExpandableQuery as nested query"
I have a number of library functions (QueryObjectAccess in this case) that perform filtering on a IQueryable, often involving PredicateBuilder. I don't want to forget to apply AsExpandable(), so I'm calling it inside these functions. Worst case up until now, AsExpandable() was a no-op that that returned the already expandable query.

I've recently added some features that use these filtered querie

[2020-01-11 18:22] BenjaminAbt opened #112 "InvalidOperationException on nullable properties in expressions"
I stumbled over the following exception and suspect the error in the LINQKit. I guess it's a bug:

I am currently trying to consolidate some of our queries with the goal of reducing the amount of SQL queries against the server.

The following example triggers the exception:

### Original code
[code]
Results in two queries

### Consolidation
[code]
Would result in one query.
My guess was that I was

[2020-01-21 01:58] alnintex commented on #95
Hello @zdarovka . I have just updated one of our projects and the issue is still here

[2020-01-21 06:24] StefH commented on #95
@alnintex Can you provide a full working example please?

[2020-01-21 18:45] alnintex commented on #95
@zdarovka Well my example is similar to the first one provided here
`Context.Documents.AsExpandable()`

and it throws the error:
`System.TypeLoadException: 'Method 'ExecuteAsync' in type 'LinqKit.ExpandableQueryProvider'1' from assembly 'LinqKit.Microsoft.EntityFrameworkCore, Version=1.1.17.0, Culture=neutral, PublicKeyToken=a5e68054d5e7f94b' does not have an implementation.'
`

**Further technica

[2020-01-22 12:48] StefH commented on #95
@alnintex and @zdarovka
I did add a console app to "examples/ConsoleAppNetCore3Ef3". That one works.
Can you please check the differences with your project ?

[2020-01-22 19:54] alnintex commented on #95
First of all, thank you @StefH for coming back and helping us, I appreciate!

Your example works ok however we have different combinations of frameworks. EF Core configuration (entities, context, etc) lives in NetStandard 2.0 project, while the main project targets Net Framework 4.7.2. [I created a couple of projects](https://github.com/scottksmith95/LINQKit/compare/master...alnintex:master) (Cons

[2020-01-23 05:58] StefH opened #114 "Restructure dependencies for LinqKit.Microsoft.EntityFrameworkCore for better support EFCore3"
Update dependencies for LinqKit.Microsoft.EntityFrameworkCore for better support EFCore3

Proposal:

| LinqKit Microsoft.EntityFrameworkCore | EF Core version | .NET versions |
| - | - | - |
| 1.1.x | >= 1.1.0 |  .NETFramework 4.5.1 and .NETStandard 1.3 |
| 2.0.1 | >= 2.0.1 | .NETStandard 2.0 |
| 3.0.0 | >= 3.0.0 | .NETStandard 2.1 |
| 3.0.0 | >= 3.1.0 | .NETStandard 2.0 |

[2020-01-23 05:58] StefH commented on #114
See also https://github.com/scottksmith95/LINQKit/issues/95

[2020-01-23 05:59] StefH commented on #95
@alnintex I understand your issue, I've created a new issue with a proposal: https://github.com/scottksmith95/LINQKit/issues/114

Can you comment?

[2020-01-23 16:55] StefH commented on #95
@alnintex
Can you try
`LinqKit.Microsoft.EntityFrameworkCore 3.0.0-preview-01` from MyGet ?

[2020-01-23 19:50] alnintex commented on #95
@StefH could you let me know the feed or explain please how to connect to myget?

[2020-01-23 19:55] StefH commented on #95
See https://github.com/scottksmith95/LINQKit/wiki/MyGet-preview-versions

Or another example: https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2020-01-23 20:10] alnintex commented on #95
Cool, I tested and it works, could not reproduce the problem

[2020-01-23 20:14] StefH commented on #95
To get this working, I need to make 3 versions from this NuGet, can you take a look at:
https://github.com/scottksmith95/LINQKit/issues/114

And provide your comments please?

[2020-01-23 21:40] alnintex commented on #114
The proposed changes make sense to me, I tested them and [the bug we had faced](https://github.com/scottksmith95/LINQKit/issues/95) is resolved

[2020-01-24 06:41] StefH commented on #114
@alnintex Thanks for testing. I'll release a official NuGet for Microsoft.EntityFrameworkCore today or tomorrow.

[2020-01-24 06:41] StefH commented on #95
@alnintex Thanks for updating the Wiki, however how could you do that ?

[2020-01-25 22:07] keserwan commented on #14
any one did a workaround on this?

[2020-01-26 07:06] alnintex commented on #95
Just clicked Edit button, maybe you need to configure some permissions?

[2020-02-02 15:47] StefH commented on #114
https://github.com/scottksmith95/LINQKit/pull/115

[2020-02-02 15:47] #114 closed

[2020-02-02 15:47] StefH commented on #95
https://github.com/scottksmith95/LINQKit/pull/115

[2020-02-02 15:47] #95 closed

[2020-04-29 20:30] btihanyi opened #116 "LinqKit fails with Entity Framework Core 5"
LinqKit's query expansion functionality does not work with Entity Framework Core 5, well, since the 5.0.0-preview.2.20159.4 to be exact. It throws an exception: 'Unhandled expression type: 'Extension''

I don't know what could be that [Extension expression](https://docs.microsoft.com/en-us/dotnet/api/system.linq.expressions.expressiontype?view=netframework-4.0#System_Linq_Expressions_ExpressionTyp

[2020-06-01 06:28] Arithmomaniac opened #117 "Add to EFCore Extensions page"
You can edit the page and make a PR. Great way to promote.
https://docs.microsoft.com/en-us/ef/core/extensions/

[2020-06-25 15:52] mannok opened #118 "PredicateBuilder failed on EF Core 5.x"
### Steps to reproduce

Please see the codes below
[code]

When the code start exec at `result = `, it throws
[code]

### Further technical details

EF Core version: 5.0.0-preview.4.20220.10
Database provider: Microsoft.EntityFrameworkCore.SqlServer 5.0.0-preview.4.20220.10
Target framework: netcoreapp3.1
Operating system: Windows 10
IDE: Visual Studio 2019

[2020-06-25 19:21] StefH commented on #118
https://github.com/scottksmith95/LINQKit/issues/116

[2020-06-29 15:08] thiagomoises opened #119 "PredicateBuilder - InvalidOperationException for navigation property"
Hi,
I am using PredicateBuilder to create a custom filter in my application.
If I add a filter with a navigation property, I have an InvalidOperationException

[code]

It's my code:

[code]

if I remove:

[code]
and
[code]
everything works normally

Environment:
NetCore 3.1
LinqKit.Microsoft.EntityFrameworkCore 3.0.0
Microsoft.EntityFrameworkCore 3.1.4

Tanks

[2020-06-29 18:33] JasonImageOne opened #120 "Add support and/or documentation for anonymous IQueryable"
Although I found a way to do this, it would be better if I could just initialize an ExpressionStarter more directly.

This is currently the round about way to do it:

`var query = (from u in db.Users
 join d in db.Docs on u.DocId equals u.Id
 select new
 {
    DocName = d.Name,
    User = d.Username
}.AsQueryable();`

And then here we make a function so we can use our IQueryable:

`        private

[2020-07-16 18:57] StefH commented on #116
@btihanyi
Can you try https://www.nuget.org/packages/LinqKit.Microsoft.EntityFrameworkCore/5.0.0-preview.1 ?

[2020-07-16 18:57] StefH commented on #118
@mannok
Can you try https://www.nuget.org/packages/LinqKit.Microsoft.EntityFrameworkCore/5.0.0-preview.1 ?

[2020-07-21 01:55] mannok commented on #118
Yes! I am using this as a workaround at the moment. Will there be an final release for the comparability issue?

[2020-07-21 01:56] mannok commented on #118
Thank you so much!

[2020-07-21 05:59] StefH commented on #118
I'll release **LinqKit.Microsoft.EntityFrameworkCore** version `5.0.0-preview.6` in some time.

(I keep the same preview version as the one which is used by https://www.nuget.org/packages/Microsoft.EntityFrameworkCore/5.0.0-preview.6.20312.4)

[2020-07-21 06:00] StefH commented on #116
@btihanyi
Did you have time to test this preview version?

[2020-07-22 13:00] btihanyi commented on #116
@StefH
Sorry, I'm currently on my vacation. I will check it next week.

[2020-07-31 09:35] btihanyi commented on #116
I've checked it and now it works fine. But I still wonder why don't you just use the official `ExpressionVisitor` class if the target framework is not .NET 3.5? They are doing basically the same. Like I said, it would be future-proof and I haven't found any performance difference between the two.

[2020-07-31 11:34] StefH commented on #116
@btihanyi
Thanks for testing.

Actually I don't know why a custom ExpressionVisitor is used in LinqKit, but for now I keep it like it is.
Maybe add a new issue/PR to just use this custom ExpressionVisitor for .NET 3.5 and use the normal one for all other frameworks.

Other question:
What version should I give to LinqKit.Microsoft.EntityFrameworkCore?
Just `5.0.0`?
Or keep in line with Microsoft.En

[2020-07-31 12:40] btihanyi commented on #116
From the comment of the class, the custom `ExpressionVisitor` class comes from the [this old blog post](https://docs.microsoft.com/en-us/archive/blogs/mattwar/linq-building-an-iqueryable-provider-part-ii). It's from 2007, even before .NET 3.5 was released, when there was no built-in `ExpressionVisitor` class. I'm going to write a PR and check if there is any real difference in their implementation

[2020-07-31 15:18] #118 closed

[2020-07-31 15:18] #116 closed

[2020-08-01 08:41] StefH opened #122 "Only use custom ExpressionVisitor for .NET 3.5"
- The namespace from the current ExpressionVisitor should be changed to System.Linq.Expressions
- And the current ExpressionVisitor should only be used for .NET 3.5

[2020-08-01 09:10] StefH commented on #122
...
work in progress
...

[2020-08-03 14:07] G3Kappa commented on #13
fuck

[2020-08-03 14:25] Thorium commented on #71
Hi, just a guess, would `(DateTime)a.Value` work better than `DateTime.Parse(a.Value)` ?

[2020-08-03 16:09] btihanyi commented on #71
@Thorium That would be a good solution, I just tested it with EF Core 3+. Although you'd need to cast the `string` value with this little trick: `(DateTime) (object) a.Value`, because C# can't (and shouldn't) cast directly a `string` object to `DateTime`.

Before EF Core version 3.0, [client-side evaluation](https://docs.microsoft.com/en-us/ef/core/querying/client-eval) was enabled for all queries

[2020-08-05 20:26] StefH commented on #71
@btihanyi  and @Thorium
Thanks for researching.

@dr130873
Can this issue be closed?

[2020-08-21 13:50] buvinghausen opened #123 "Add MongoDB Library"
Mongo suffers from the same issues that Entity Framework does at interpreting invocation expressions.

I was able to stitch together a working example last night to keep moving but I think you should have a LINQKit.MongoDB package given the ubiquity of Mongo today.

Code is here [Mongo](https://github.com/buvinghausen/MongoDB.Expandable/) the only real difference is support for the IMongoQueryable

[2020-08-22 21:23] #123 closed, assigned to nobody

[2020-09-25 11:17] poizan42 opened #124 "LINQKit does not support referencing expressions stored in properties (InvalidCastException)"
Running the following program:

[code]

Fails with

[code]

This may be related to #89 where it's a delegate rather than an expression in a property that causes problems.

[2020-10-21 19:01] StefH opened #128 "DOC: update readme.md for new functionality"
- https://github.com/scottksmith95/LINQKit/pull/126

[2020-10-26 16:33] buvinghausen opened #129 "Version 1.1.19 introduces a breaking change to ExpressionExpander.Visit"
[I have put together a simple repository that reproduces the System.InvalidOperationException that I get when I use the latest version of LINQKit here](https://github.com/buvinghausen/LinqBug)

When I use version 1.1.17 everything works as expected and both console write lines produce true.  When I use version 1.1.19 I get the following exception.

System.InvalidOperationException: 'Invoke cannot

[2020-10-26 17:16] StefH commented on #129
Seems like a bug was introduced by https://github.com/scottksmith95/LINQKit/pull/126

I'll take a look.

[2020-10-26 18:32] StefH commented on #129
I've unlisted version 1.1.18 and 1.1.19 from NuGet.

@sdanyliv : can you please take a look and fix this?
(I also noticed that the unit tests did not work anymore?)
![image](https://user-images.githubusercontent.com/249938/97213480-f74bd080-17c1-11eb-85cc-aae254fec09c.png)

[2020-10-26 19:00] buvinghausen commented on #129
Thanks @StefH

[2020-10-26 19:01] sdanyliv commented on #129
Sure. Looking at.

[2020-10-26 19:10] sdanyliv commented on #129
All tests are green. Looking at proposed repository with reproducing steps.

[2020-10-26 19:15] StefH commented on #129
@sdanyliv Do you mean that the test are green? Or you fixed some code an now they are green?

[2020-10-26 19:22] sdanyliv commented on #129
On my workstation all test are green. I would never propose PR without running tests.

[2020-10-26 19:46] StefH commented on #129
This code :
[code]
is the fix?

Adding:
if (target is LambdaExpression)
            {
                return (LambdaExpression) target;
            }

[2020-10-26 19:49] sdanyliv commented on #129
Yes, I have prepared PR.

[2020-10-26 20:00] StefH commented on #129
OK. Thanks a lot. I did also start on a PR, and will use that one to merge to master.

I copied your test class. Thanks for that one.

[2020-10-26 20:01] StefH commented on #129
New version will be uploaded tomorrow.

[2020-10-26 20:10] sdanyliv commented on #129
Another case which were not covered by unit tests. Good to to have them.

[2020-10-26 20:14] StefH commented on #129
@sdanyliv  and @buvinghausen
` 1.1.20-preview-01` is released on nuget

[2020-10-26 20:24] buvinghausen commented on #129
@StefH I have verified that 1.1.20-preview-01 works with our stack.  Thank you and @sdanyliv on the quick turnaround that was awesome.

[2020-10-26 20:27] #129 closed

[2020-10-26 20:59] sdanyliv commented on #106
This issue is not related to LINQKit, just close. Such queries are not translatable to the SQL, I have mentioned that in not so popular [SO answer ](https://stackoverflow.com/questions/64377955/linq-to-database-how-to-group-entities-properly-and-groupby-limitations)

[2020-10-27 06:49] StefH commented on #106
Moved this to WIKI : https://github.com/scottksmith95/LINQKit/wiki/Client-v.s.-Service-side-evaluation

[2020-10-27 06:49] #106 closed

[2020-10-27 08:59] sdanyliv commented on #124
@StefH, I think It should be fixed in #126

[2020-10-27 09:56] StefH commented on #124
Hello @sdanyliv, thanks for noticing.

If you have time, can you add an extra UnitTest for this scenario? If this is green, then I can close this issue.

[2020-10-27 09:57] StefH commented on #124
@poizan42 : Can you please try `1.1.20-preview-01` version in NuGet to see if this fixes your issue?

[2020-11-09 12:37] poizan42 commented on #124
It fixes the case I wrote in this issues. But it does not work with deeper nesting, e.g. the test [ExpressionCombiner_ExpressionAsProperty_FromExpressionVariable](https://github.com/poizan42/LINQKit/blob/b81b20e6be66cf62f42f6e1df44e8bc296a199b7/tests/LinqKit.Tests.Net452/ExpressionCombinerTests.cs#L106) still fails.

[2020-11-10 17:45] sdanyliv commented on #124
Updated PR https://github.com/scottksmith95/LINQKit/pull/127 with fix.

[2020-12-31 22:46] TorreyGarland opened #134 "Question: What is difference between Nuget Linqkit and Linqkit.EntityFramework packages?"
Unless I missed something, I couldn't find any documentation explaining the difference.

[2021-01-02 10:25] StefH commented on #134
There is no difference in code, the `LinqKit` package is just there for backwards compatiblity.

[2021-01-02 10:25] #134 closed

[2021-01-16 10:31] StefH commented on #124
PR is merged.

[2021-01-16 10:31] #124 closed

[2021-03-02 12:39] cjblomqvist commented on #14
Most of the time the simple workaround is to put Includes before AsExpandable. This however makes it impossible to use filtered includes (as released in EF Core 5.0) - which would be really nice to be able to combine with LinqKit.

Anyway, just my 5 cents.

[2021-03-02 18:52] sdanyliv commented on #14
@cjblomqvist, create sample. I'll figure out what to do if it is possible.

[2021-03-15 16:59] kuebelkasten opened #139 "LinqKit applying nested filtering through extension-method not working"
See [stackoverflow](https://stackoverflow.com/questions/66640001/linqkit-applying-nested-filtering-through-extension-method-not-working) fo details.

Seems like the `Get` is never called (breakpoints never hit). I already tried using Expression.Lambda<> `Compile()`, `Invoke()` and `Expand()` but still, the extension seems not be invoked before the exception is thrown.

On the other hand, using `Wh

[2021-03-15 19:09] sdanyliv commented on #139
@kuebelkasten, it is your question on SO?

[2021-03-16 07:05] kuebelkasten commented on #139
@sdanyliv Yes. Was not sure if I need to repeat it completely here again. But would be possible to edit my issue here if needed

[2021-03-16 07:30] sdanyliv commented on #139
Well, answer added: https://stackoverflow.com/a/66650693/10646316

[2021-03-16 07:52] kuebelkasten commented on #139
@sdanyliv I've added the `Expandable`-attribute to the `Get` extension-method ending up in exception

[code]

[2021-03-16 07:57] sdanyliv commented on #139
It is not correct way of using Expandable attribute and is not original SO question.

[2021-03-16 08:00] kuebelkasten commented on #139
Sorry. I copied the wrong link to the SO-question. I updated the question accordingly. No idea where the wrong link was from...

[2021-03-16 08:11] sdanyliv commented on #139
Done.

[2021-03-16 08:21] kuebelkasten commented on #139
@sdanyliv Awesome. Well appreciated. In your copied code there is just one `>` at the wrong position in `GetEnumerable` but then it works like a charm. Many thanks 👍

[2021-03-16 08:25] sdanyliv commented on #139
Anyway, try to remove `Expand`, probably it may work also.

[2021-03-16 08:27] kuebelkasten commented on #139
Yupp. Removed `Expand()` in both methods and it still works as expected

[2021-03-16 08:36] kuebelkasten commented on #139
Using `Expand`-attribute together with implementation of the `Expression` tp be used in query-building did the trick

[2021-03-17 12:40] kuebelkasten commented on #139
Maybe @sdanyliv  could help me out with this again as it may be related. I have the following query:

	await DbContext.Events.Get(new EventFilter
	{
		IsVisibleFilter = (EventIsVisibleFilter)true,
		IdIncludeExcludeFilter = (EventIdIncludeExcludeFilter)new IncludeExcludeFilter<Guid> { Includes = new[] { eventId } }
	}).Select(e => new
	{
		EventTeams = e.EventTeams
			.Get(new EventTeamFilter { Is

[2021-03-19 06:45] julian-dimitroff opened #140 "Dynamic predicate creation LINQ expression could not be translated"
Hi guys,
By @sdanyliv suggestion, I'm opening an issue about a problem that I have. The original discussion is in [this](https://stackoverflow.com/questions/66688017/linqkit-unable-to-cast-object-of-type-system-linq-expressions-instancemethodcal) thread.
UPDATE:
Models classes that are used:
[code]
Basically I have one LINQ lambda query with a subquery that the predicate must be created dynamicall

[2021-03-19 10:44] sdanyliv commented on #140
Please update issue with model classes.

[2021-03-19 10:59] julian-dimitroff commented on #140
I've updated the issue, but I'm not sure if the provided info is sufficient. If there is a need for anything else, please request it.
Regards,

[2021-03-23 10:55] sdanyliv commented on #140
Provide all entities used in LINQ query. A lot of them are missed.

[2021-03-23 11:16] julian-dimitroff commented on #140
I think I included them all, If something is missing, please tell me and I'll include them.
Thanks in advance

[2021-03-23 11:21] sdanyliv commented on #140
`TagSettings` is missing

[2021-03-23 11:34] julian-dimitroff commented on #140
Hope, that I included everything

[2021-03-23 14:21] sdanyliv commented on #140
Well, already answered in SO. It is not LINQKit bug and issue can be closed.

[2021-03-23 14:23] #140 closed

[2021-04-21 15:09] springy76 opened #141 "CompileQuery support?"
Will it ever be possible to combine `EF.CompileQuery()` with `.AsExpandable()` + `expr.Invoke(param)`?

Or did I just miss an important peace and it should work already?

[2021-04-28 13:26] ntziolis commented on #31
Based on the above I could not figure out how todo this, so for anyone else looking for a solution here is what we found to be working after quite a while of trial and error.

Our use case was to negate an entire predicate chain that contained many ands / ors. negating the individual chain elements would have made the query unreadable / unmaintainable.

We would find it helpful if ExpressionStarte

[2021-05-17 13:50] springy76 commented on #141
I solved it by just using `.Expand()` on my own - no need for `.AsExpandable()` at all.

[2021-05-17 13:50] #141 closed

[2021-08-25 16:46] Mike-E-angelo opened #145 "Question: What is `InvokeEFCore`?"
First off, THANK YOU SO MUCH for making this project.  I recently [ran into a little ordeal with EFCore's Compiled Queries](https://github.com/dotnet/efcore/issues/25679) and have started to explore expression builders.  This one seems perfect.  Thank you again for your efforts here.

I do have a question however.  When using `EF.CompileQueryAsync` with an `Expression` that has an `InvokeEFCore` c

[2021-09-16 18:07] rizi opened #146 "Question - EF Core - AsExpandable & Include"
Is AsExpandable working in combination with Include with EF Core 5.0? I'm completely confused, somehow it's working when I call Include before AsExpandable. But is this a known limitation or a bug?
And will this work for all use cases?

Br

[2021-09-28 06:05] rizi opened #147 "Entity Framework Core 5 - and LinqKit.Microsoft.EntityFrameworkCore 5.0.x not working with expressions in subqueries"
I've created a very sample solution to reproduce the issue:

I only use the LinqKit.Microsoft.EntityFrameworkCore 5.0.x package, do I need something more?
The code below was working fine in EF 6 with the corresponding NuGet package, and as far as I understand when reading the readme of this repo, it should still work with EF Core 5.x, am I right?

I got this exception:
System.InvalidOperationExcep

[2021-09-28 10:40] Pao-lino commented on #100
Excuse me, I'm on EF Core 5 and installed the LinqKit.Microsoft.EntityFrameworkCore package.
I'm using PredicateBuilder without AsExpandable and it's working.
It's not clear to me if AsExpandable is necessary or not.

[2021-09-30 01:35] NetherGranite commented on #111
Is there any news on this? LINQKit making it impossible to compose Queryables is a pretty significant shortcoming, and the resulting error message is almost untracably misleading.

[2021-10-11 03:04] amendez1000 opened #148 "Question: LinqKit for .NET 5"
Hi,

If I am using .net 5, what version of LinqKit.Microsoft should I use?

Thanks!

[2021-10-11 06:01] #148 closed

[2021-10-11 21:06] NetMage opened #149 "Documentation error for PredicateBuilder?"
The documentation says that `AsExpandable` is needed when using `PredicateBuilder` and that `Invoke` is used with the original expression when adding an `And` or `Or` clause, but the output from LINQKit.Microsoft.EntityFrameworkCore v5.0.26 doesn't use `Invoke` and doesn't appear to need `AsExpandable` any more.

[2021-11-04 08:28] dawidmostert opened #150 "EF Core 6 support"
Is anyone working on EF Core 6 support?

I tried this myself, but can't get the tests to work that use "WithExpressionExpanding".

Thanks!

[2021-11-16 08:50] sdanyliv commented on #150
@StefH, I think it is already fixed.

[2021-11-16 09:02] #150 closed

[2021-11-22 15:12] Logerfo opened #152 "Add [PureAttribute] on suitable methods"
[code]
The code above is wrong, because `expr2` is actually never used as a predicate. Adding `[PureAttribute]` on suitable methods like `And` would throw a warning at compile time when the return value of the method is not used, allowing users to find this kind of mistakes more easily.

[2021-11-24 11:20] a-stankevich commented on #59
We just faced a similar problem in our application, but the impact was much worse.
As in the first post in this thread, the first query was implicitly executed, returned a set of ints, and then it was passed to the second query. The code passed all stages of testing and when deployed to production it finally crashed the whole web application.

The reason for that was the first query returning thou

[2021-11-24 11:22] sdanyliv commented on #59
@a-stankevich, post reproducible sample and i’ll fix that.

[2021-11-25 10:48] a-stankevich commented on #59
@sdanyliv I've created a repo where the issue is reproduced https://github.com/a-stankevich/LinqKit_Issue59/blob/main/LinqKit_Issue59/Program.cs. Thank you for help!

[2021-11-26 17:20] sdanyliv commented on #59
@a-stankevich, well, Ii is not a bug. You have used `AsExpandable()` in Expression Lambda body. In this case LINQKit expander cannot be activated.

You have to use `AsExpandable` on top fo the query or as last operator before materialisation.
The following statement will fail:
[code]
This not:
[code]
This also will work:
[code]
LINQKit replaces `IQueryProvider` and makes tunnel between original EF

[2021-11-29 10:10] a-stankevich commented on #59
Thank you for detailed explanation @sdanyliv. I understand the situation we discuss is caused by incorrect usage of `AsExpandable()`. You say that such statement will fail, and actually it would be great if they did.
Unfortunately, they are actually executed and no failure is observed. This causes crashes of entire process under specific conditions as I described [in the comment above](https://git

[2021-11-29 20:17] sdanyliv commented on #147
This is EF Core limitation. With local collections it can do only `Contains` or VERY simple Any, which is not your case.
Check my [SO answer](https://stackoverflow.com/a/67666993/10646316)

[2021-11-29 20:22] sdanyliv commented on #146
Duplicate of https://github.com/scottksmith95/LINQKit/issues/147

[2021-11-29 20:44] #146 closed

[2021-11-29 20:47] rizi commented on #147
Thx for the answer, I solved it quite similar, but I hoped there is a way to make it work. Do you know any details about the EF Core limitation? If so I would open an issue in the EF core repo.

Br

[2021-11-29 22:05] sdanyliv commented on #147
You are not alone: https://github.com/dotnet/efcore/issues/19070

[2021-12-09 17:17] WarrenBowley opened #153 "Predicate as class function not resolving correctly"
I am attempting to use LinqKit to build a dynamic predicate that will function as a where clause in a SQL query.  I have created a stand-alone class with all the properties that would be used in the predicate.  I also have a function **within** the class that returns the predicate.

The issue I am running into is that the predicate is prefixing any property from the class with the class type.  For

[2021-12-09 20:29] WarrenBowley commented on #153
I found the issue.  I needed to .Compile() the predicate before passing it into the where clause.  The error only happens when I pass the compiled predicate into the IncludeFilter function of Z.EntityFramework.Plus

[2021-12-09 20:29] #153 closed

[2021-12-13 13:05] doboczyakos opened #154 "Exclude LinqKit.Core implementation from LinqKit.EntityFramework etc. projects, use ProjectReference converted to package dependency instead"
We have the following packages:
A library using LinqKit.Core
A package using LinqKit, EF6 and the library
Another package using LinqKit.EntityFrameworkCore, EF Core and the library

The problem is that both LinqKit and LinqKit.EntityFrameworkCore has the implementation of LinqKit.Core in the same namespace, so I cannot have (or inherit) package reference to both in the same project:
Error	CS0433	T

[2021-12-20 03:52] Ale0x78 opened #155 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 07:41] StefH commented on #155
Hello @Ale0x78,

Thank you for noticing this.

#156

[2021-12-20 07:41] #155 closed

[2022-01-07 16:33] kyletindle commented on #108
This has just caught me out. Did you manage to get around this issue?

[2022-01-07 16:40] Anderman commented on #108
I didn't not use it anymore. Probably I rewrite some linq queries

[2022-01-11 13:53] jesslilly opened #157 "File timestamps in nuget are the same causing publish to fail"
I don't know if this is even something you can fix, but I will report it anyway.  Maybe it will help someone out there who runs into this same issue.

We package our applications on a build server using this powershell command:

$MsBuild $StartUpProjectFilePath /t:Publish /p:PublishProfile=$PublishProfile /p:PackageLocation=Package\$AppEnvironment\$StartUpProjectName.zip

We recently upgraded an a

[2022-01-12 19:53] doboczyakos commented on #154
@sdanyliv please merge pull request https://github.com/scottksmith95/LINQKit/pull/159

[2022-01-12 19:59] StefH commented on #154
If you change to package references. Then I doubt if building all NuGets with the same version in a single build process can work ...

[2022-01-12 20:00] StefH commented on #157
I am confused.

How could the timestamp from a NuGet package be of any influence?

[2022-01-12 20:02] doboczyakos commented on #154
These are project references:
  <ItemGroup>
    <ProjectReference Include="..\LinqKit.Core\LinqKit.Core.csproj" />
  </ItemGroup>
If you build all NuGets together they will be automatically converted to the appropriate package reference. Can you try it somehow?

[2022-01-13 09:24] davidnemeti commented on #154
@StefH, it works flawlessly, we have already tried it by simply building the solution in Visual Studio in _release_ mode.

The `LinqKit.EntityFramework => LinqKit.Core`, etc. **project references** have been perfectly converted to `LinqKit.EntityFramework => LinqKit.Core`, etc. **nuget package dependencies** with the proper _version_ coming from `version.xml`'s `PatchVersion`.

**LinqKit.EntityFra

[2022-01-14 18:08] doboczyakos opened #160 "Unhandled expression type: 'Index'"
IndexExpression is not handled in ExpressionVisitor

[2022-01-15 09:44] StefH opened #163 "AppVeyor badge is wrong"
@Thorium
Can you please provide your AppVeyor badge URL for https://ci.appveyor.com/project/Thorium/linqkit ?

[2022-01-15 14:53] Thorium commented on #163
Fixed.

[2022-01-15 14:53] #163 closed

[2022-01-19 07:03] #160 closed

[2022-01-19 07:03] StefH commented on #154
https://github.com/scottksmith95/LINQKit/pull/161

[2022-01-19 07:03] #154 closed

[2022-01-19 07:07] StefH commented on #78
@NetMage

Is this still an issue?

And would this be solved if I rename the class?
https://github.com/scottksmith95/LINQKit/blob/master/src/LinqKit.Core/ExpressionVisitor.cs
?

Like `ExpressionVisitor.cs` --> `LinqKitExpressionVisitor.cs` ?

[2022-01-19 07:08] StefH commented on #152
Hello @Logerfo,

Thanks for this information.

Can you please provide a full code example from the change you would like to see? Or create a PR?

[2022-01-19 07:28] StefH commented on #157
@jesslilly Can you elaborate please?

[2022-01-19 13:42] jesslilly commented on #157
Hi Stef.  Yeah like I said, there is probably not much you can do.
We have an app in which we changed from Linqkit 3.1.27 to 6.0.27.
Using MSFT Package Deployment (Similar to a publish profile), our package failed to include the correct version of Linqkit because the timestamps in NuGet are the exact same for both of these dll file versions.

[2022-01-19 14:42] StefH commented on #157
@jesslilly

I don't know how to add hashcodes or GUIDs.

But maybe this can help? --> https://github.com/scottksmith95/LINQKit/pull/166

[2022-01-19 16:04] jesslilly commented on #157
Interesting!  Sounds cool.

[2022-01-19 17:05] StefH commented on #157
Within some days, I'll release a new version with this PR. Then you can test if it solves your issue.

[2022-01-31 15:03] jbagley-iona opened #168 "ForEach extension method?"
The ForEach extension method recently added to LinqKit conflicts with the (I think) commonly used ForEach extension method in MoreLinq.  Since it is in the main LinqKit namespace, there is no way to avoid its inclusion when using LinqKit.  It would be nice if this was in a separate namespace to avoid this issue.

[2022-01-31 20:00] #157 closed

[2022-02-01 14:37] Azkarell opened #169 "ExpressionVisitor.VisitConditional might fail if used in polymorphism"
Given following code snippets

[code]

Calling the Test method will throw an ArgumentException in Expression.Conditional because ifTrue.Type != ifFalse.Type. this can be prevented by casting the modelA/modelB to ICommon but should probably be fixed in the library, if i have the time i might even look into creating a pull request. Checking if the return type matches if not try to cast / check if it

[2022-02-20 15:13] doboczyakos commented on #14
@artelk / @StefH I think this one can be closed

[2022-02-23 14:48] rauhs opened #170 "Timestamp in nuget dependencies"
Hi,

just FYI, the 1.2.1 version on nuget:

https://www.nuget.org/packages/LinqKit.Core

has the "TimeStamp" package as a dependency. I don't think this is needed.
Cheers

[2022-02-23 15:52] StefH commented on #170
https://github.com/scottksmith95/LINQKit/pull/171

[2022-02-23 17:35] #170 closed

[2022-02-24 06:00] rauhs commented on #170
Thanks! :)

[2022-03-03 10:55] #14 closed

[2022-03-10 23:27] AudriusButkevicius opened #172 "QueryOptimizer with EFCore?"
Not sure whether this should work or not, but I'm struggling to use the query optimizer with EFCore.

Seems that a simple query such as the following one fails:
[code]
Returns an error:
[code]

Is this expected?

[2022-04-12 14:27] rtellez91 opened #173 "Plugging Expressions into EntitySets / EntityCollections using compile doesnt work"
I'm trying to use something like this

`dbContext.MainEntity.Where(me => me.ACollection.Any(Expression.Compile()).ToArrayAsync()`

It compiles, but at runtime I'm getting the following:

`Expression of type 'System.Func`2[...,System.Boolean]' cannot be used for parameter of type 'System.Linq.Expressions.Expression`1[System.Func`2[...,System.Boolean]]' of method 'Boolean Any[...](System.Linq.IQuery

[2022-04-13 13:52] rtellez91 commented on #173
I found how to solve it, probably it needs to be specified in the examples / documentation.

The expression that I was trying to use was returned by a function, so I was directly using in this way

`ExpressionClass.Expression().Compile()`

I had to declare the expression in a variable and from that variable use compile, like this
`
var expression = ExpressionClass.Expression();
dbContext.MainEntit

[2022-04-13 13:52] #173 closed

[2022-05-26 18:46] seruminar commented on #58
I believe this should "just work". Needing to use chunks or somehow altering the construction of the predicate to avoid an internal exception exposes the abstraction. It doesn't scale well.

[2022-05-29 20:14] Mike-E-angelo commented on #145
Was it something I said? 😏

FWIW I have this project mentioned (along with half of NuGet it seems) in my project's acknowledgements here:
https://alpha.starbeam.one/about/acknowledgements

I also just sent you some <3 on twitter which is the reason I chimed back here 😁
https://twitter.com/Mike_E_angelo/status/1531005018400247808

[2022-06-14 12:41] chrisc-ona opened #175 "Empty top-level Timestamp namespace appears in 1.2.2 causing CS0118 errors when a Timestamp type already exists in used namespace"
Probably related to #170 and/or #171. With LinqKit.Core 1.2.2, the assembly includes a Timestamp namespace with no public types in it. This raises [compiler error CS0118](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0118?f1url=%3FappId%3Droslyn%26k%3Dk(CS0118)) whenever using any type also named Timestamp, whether that type is defined within the project depending on LinqKit.Core or define

[2022-06-14 17:54] StefH commented on #175
Only solution for this is to copy the source code/project from https://github.com/SimonCropp/Timestamp into this project. And rename Timestamp class to LinqKitTimeStamp.

[2022-07-28 10:52] CesarD commented on #100
Same for me. Doesn't seem to be needed anymore... Is it?

[2022-08-16 08:51] Ben555555 opened #176 "Cannot use async operations with AsExpandable"
I have the following query:

[code]

I get this error:
The source 'IQueryable' doesn't implement 'IAsyncEnumerable<Gts.Domain.Models.Disposition.Transports.TransportModel>'. Only sources that implement 'IAsyncEnumerable' can be used for Entity Framework asynchronous operations.

As far as I understood async operations should be possible with package 'LinqKit.Microsoft.EntityFrameworkCore'.

Am I d

[2022-08-16 09:07] Ben555555 commented on #176
Ok I was using LinqKit.Core; instead of LinqKit. Problem solved.

[2022-08-16 09:16] #176 closed

[2022-08-16 17:05] sdanyliv commented on #176
@Ben555555, you can omit usage of `AsExpandable()` at all.

Just configure `DbContextOptions`
[code]

[2022-09-29 18:39] joshuajung commented on #108
In case another newbie like me ends up here with a similar issue: for me, the root cause was that I was trying to generate an expression inline, like this:

[code]

What actually worked for me instead was to split up the procedure:

[code]

I'm seeing something similar in the above example as well.

[2022-10-14 07:36] agreentejada opened #177 "PredicateBuilder cannot fill in parameter in SQLite when building expression."
Came across this error on a side project with EF Core 6.0 for Sqlite.

I am attempting to query a search query based on two properties of an IdentityUser, the `username` and the `email`. This IdentityUser, called `AppUser` in code, has a many-many relationship with an `Accounts` entity.

[code]

Interestingly, when I go to look at the Sqlite query, I can't find the searchQuery object.

[code]

The

[2022-10-14 08:07] sdanyliv commented on #177
1) `AsExpandable` Is not needed here, there is nothing to expand.
2) Do not reuse `searchQuery` for searching digits, assign to other variable.

[2022-10-23 12:13] StefH commented on #168
@jbagley-iona

The namespace is `LinqKit.Core` or `LinqKit`, so how does that cause troubles when using **MoreLinq**?

[2022-10-23 12:15] StefH commented on #177
Hello @agreentejada, has the answer provided by @sdanyliv enough detail?

[2022-10-23 12:19] StefH commented on #71
closing...

[2022-10-23 12:19] #71 closed

[2022-10-25 12:00] a-stankevich commented on #111
This issue is also important for us, as we use LINQKit extensively in our project and there are a lot of shared methods returning expandable queries. Combining those queries in a single query via join, contains, etc. is currently very hard or impossible due to that issue.

From what I found so far, the problem happens only in EF6. At some point of building a query it tries to [retrieve](https://gi

[2022-10-25 12:15] a-stankevich commented on #111
Here's also a simple test case that can be added in `DbAsyncTests.cs` to reproduce the issue:

[code]

Please share your ideas for a workaround if any.

[2022-10-25 12:17] a-stankevich commented on #59
Replying to my own request, it turns out that using `async` functions for materialization (e.g. `ToListAsync`) throws exception at the time when the nested function is called. So this approach can be used to protect for StackOverflowException in these boundary cases.

[2022-11-10 10:21] elf-is opened #181 "Nullable properties `Object reference not set to an instance of an object` not thrown."
I encountered a small 'bug' on C# while trying to build a search method using the `stringVar.Contains` in a predicate.
At first It worked fine for every Model I used it on, but if that Model had a `null` value in some of its properties no error is thrown but the search failed and returned no data.
It took me a while to find where the problem was, and that's where I tried checking the values in my

[2022-11-10 10:35] sdanyliv commented on #181
If you are building predicate for EF you are doing this in wrong way. `PredicateBuilder` will not help here.
Create question on StackOverflow with detailed description what you ate trying to achieve.

[2022-11-10 10:40] elf-is commented on #181
@sdanyliv I am indeed doing that, I followed the demo you had in the Readme calling `AsExpandable()` and using `predicate.Compile()` everything seems to be working fine I don't see what's wrong with that? It's just this single problem that was stopping it from working on some cases because no error was thrown.
Meanwhile I am building a demo project that I'll try to link here when I am done.